@import '../../style/colours.def.scss';
@import '../../style/variables';
@import '../../style/utilities';
@import '../../style/mixins';

$header-opacity: 16;

.hero {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100vw;
  max-width: none;
  height: vh(100);
  min-height: 568px;
  max-height: 768px;
  margin-bottom: 32px;
  overflow: hidden;
  color: $white;
  text-align: center;

  transition: height 150ms ease;

  &::after {
    @include CornerToCornerGradient(
      var(--color-brand-light), var(--color-brand-base)
    );

    position: absolute;
    right: 0;
    width: 150vw;
    height: 100%;
    content: '';
    transform: rotate(var(--app-angle));
    transform-origin: 100% 100%;
  }

  &.dark {

    &::after {
      background: var(--color-bg-base);
    }

    .hero_contents .big_letters {
      color: var(--color-brand-base);
    }
  }
}

.hero_contents {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  font-family: var(--font-sans);
  font-weight: 400;
  pointer-events: none;

  // Animation
  transform-style: preserve-3d;
  perspective: 2000px;
  perspective-origin:
    calc(var(--mouseX) * -100%)
    calc(var(--mouseY) * 100%);

  @media (prefers-reduced-motion) {
    perspective-origin: center center;
  }


  %hero-element {
    position: relative;
    z-index: 1;
  }

  .big_letters {
    @extend %hero-element;
    position: absolute;
    top: 50%;
    width: responsiveSize(512, 768);
    margin: unset;
    opacity: $header-opacity * 0.01;
    place-items: center;
    transform: translateY(-50%) translateZ(-2px);
    color: var(--color-text-base);
    
    .big_letters_monogram {
      box-sizing: border-box;
      width: 100%;
      max-width: $content-width;
      height: auto;
      padding: $global-margin;
    }
  }

  .title {
    @extend %hero-element;
    grid-area: title;
    margin: 0 16px;
    font-size: responsiveSize(54, 144);
    line-height: 1.5em;
    transform: translateZ(4px);
  }
  
  .tagline {
    @extend %hero-element;
    grid-area: tagline;
    max-width: calc(100vw - 32px);
    margin: 0 16px;
    font-family: inherit;
    font-size: responsiveSize(16, 24);
    font-weight: 700;
    line-height: 1.2em;
    text-align: center;
    transform: translateZ(2px);
  }
}
