@import '../../style/colours';
@import '../../style/variables';
@import '../../style/mixins';

section.hero {
  --angle: 2deg;
  display: grid;
  grid-template-areas: '. header .' '. hero .' '. . .';
  grid-template-rows: 80px 1fr 80px;
  grid-template-columns: 1fr Min($content-width, 100vw) 1fr;
  grid-auto-flow: row;
  grid-row-gap: 0;
  align-items: center;
  justify-content: center;
  width: 100vw;
  max-width: none;
  height: vh(100);
  min-height: 568px;
  max-height: 1200px;
  margin-bottom: 32px;
  overflow: hidden;
  color: $white;
  text-align: center;

  @media screen and (max-width: $breakpoint-small) {
    --angle: 4deg;
  }

  &.green-bg {
    position: relative;

    &::after {
      @include CornerToCornerGradient($light_green, $green);
      position: absolute;
      right: 0;
      width: 150vw;
      height: 100%;
      content: '';
      transform: rotate(var(--angle));
      transform-origin: 100% 100%;
    }
  }

  .page-header {
    z-index: 1;
    grid-area: header;
    @media screen and (max-width: $breakpoint-medium) {
      margin-right: 16px;
      margin-left: 16px;
    }
  }

  .hero-contents {
    position: relative;
    display: grid;
    grid-area: hero;
    grid-template-areas: '.' 'title' 'tagline' '.';
    grid-template-rows: repeat(4, auto);
    grid-template-columns: 1fr;
    justify-content: center;
    font-family: var(--font-sans);
    font-weight: 400;
    pointer-events: none;

    %hero-element {
      position: relative;
      z-index: 1;
    }

    .title {
      @extend %hero-element;
      grid-area: title;
      margin: 0 16px;
      font-size: clamp(50px, 16vw, 96px);
      font-weight: 600;
      line-height: 1.5em;
    }
    
    .tagline {
      @extend %hero-element;
      grid-area: tagline;
      max-width: calc(100vw - 32px);
      margin: 0 16px;
      font-family: inherit;
      font-size: clamp(16px, 6vw, 24px);
      font-weight: 400;
      line-height: 1.2em;
      text-align: center;
    }

    .big-letters {
      @extend %hero-element;
      display: grid;
      grid-row: 1/-1;
      grid-column: 1/-1;
      margin: 0;
      font-size: 512px;
      font-weight: 600;
      color: $dark_green;
      opacity: 0.15;
      place-items: center;
    }

    .big-letters-monogram {
      width: 2ch;
      max-width: 95%;
      height: auto;
    }
  }
}



  


