.social-link {
  font-size: 24px;
  line-height: 1em;
  display: inline-flex;
  justify-content: center;
  margin: 16px;
  &:hover {
    transform: translateY(1px);
  }
  
  a {
    width: 1em;
    padding: 2px 0;
    display: inline-flex;
    justify-content: center;
    
  }
  .white {
    color: white;  
  }
}
