/* your css code */
@import '../../style/variables';

.default_page {
  --recipe-color-highlight: var(--color-text-selection);
  display: block;
  align-items: center;
  max-width: $content-width;
  margin: auto;
  font-size: 18px;

  margin-bottom: 2rem;

  > * {
    @media screen and (max-width: $breakpoint-medium) {
      margin-right: 32px;
      margin-left: 32px;
    }
  }

  article {
    position: relative;
  }
  
  h1 {
    font-family: var(--font-serif);
    font-size: 3rem;
    margin-top: 0.375em;
    margin-bottom: 0.5em;
  }

  h2 {
    font-family: var(--font-serif);
    font-size: 1.75rem;
  }

  img {
    max-width: 100%;
  }
}

