@import '../../style/utilities';

#about {
  margin: 24px 0;
  text-align: left;

  .about_text {
    position: relative;
    font-size: 20px;
    font-weight: 400;
  }

  h2 {
    @include responsiveText(32, 48);
    font-weight: 700;
    color: var(--color-black);
  }

  h3 {
    @include responsiveText(24, 36);
    font-weight: 700;
    color: var(--color-black);
  }

  a {
    font-weight: 700;
    outline-color: var(--color-green);
    outline-offset: 0;
  }

  p {
    color: var(--color-grey-dark);
  }

  p:first-child {
    margin-top: 0;
  }

  p:last-child {
    margin-bottom: 0;
  }
}
