.zed-shadow {
  border-radius: inherit;
  bottom: 0;
  height: 100%;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1) box-shadow 500ms;
  width: 100%;
}

.base-shadow {
  // background: orange;
}

.overlapping-shadow {
  // background: cyan;
  // background: rgba(0,0,0,0.05)
}
