@import '../../style/global.sass';

$image-height: 48px;

.resume-card {
  max-width: 480px;
  padding: 32px 40px;
  display: grid;
  grid-gap: 12px;
  padding: 48px;
  justify-content: left;
  align-content: baseline;
  text-align: left;

  .resume-header {
    display: grid;
    grid-template-areas: "company company" "location location";
    grid-template-columns: min-content auto;
    grid-gap: 4px 8px;
  }

  img.logo {
    grid-area: logo;
  }

  h1.company {
    // @include serifFont();
    grid-area: company;
    margin: 0;
    align-self: center;
    line-height: 1.2em;
  }
  span.time-and-place {
    grid-area: location;
    @include serifFont();
    font-size: 16px;
    color: $dark_grey;
  }
  h2.position {
    // @include serifFont();
    font-size: 20px;
    line-height: 1.5em;
    margin: 0;
  }

  p.summary {
    text-align: left;
    font-weight: 500;
    margin: 0;
  }
  
  img {
    justify-self: center;
    height: $image-height;
  }
}