@import '../../style/global.sass';

@mixin branded-portfolio-card($brandcolor) {
  // background-color: brandColor($brand);
  h2 {
    &::before {
      background-color: $brandcolor;
    }
  }

  background-color: mix($white, $brandcolor, 95%);
}

.portfolio-card {
  text-decoration: none;
  border: none;
  &:hover {
    border: none;
    text-decoration: none;
  }

  display: grid;
  position: relative;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 100%;
  grid-gap: 16px;
  color: $black;
  // color: $white;
  background-color: $white;
  padding: 32px;
  align-items: center;
  text-align: left;
  border-radius: 0px;
  height: 25%; height: 25vh;

  transition: all $animation-ease 500ms;
  @include elevation(1);

  
  &#newvisions, &#new-visions {
    @include branded-portfolio-card($newvisions);
  }
  &#chameleon {
    @include branded-portfolio-card($chameleon);
  }
  &#noom {
    @include branded-portfolio-card($noom)
  }
  &#smrtwatr, &#smrt-watr {
    @include branded-portfolio-card($smrtwatr)
  }
  &#knowroaming {
    @include branded-portfolio-card($knowroaming)
  }

  .portfolio-card-text {
    z-index: 1;
    h2 {
      display: inline;
      position: relative;
      overflow: visible;
      font-size: 32px;
      &::before { // for the animated underline
        content: '';
        position: absolute;
        width: 0%;
        height: 4px;
        // height: 100%;
        bottom: 0;
        background-color: $white;//transparent;
        z-index: -1;
        transition: all $animation-ease 500ms;
      }
    }
    span {
      display: inline;
      font-size: 20px;
    }

  }

  &:hover, &:focus {
    transform-origin: 50% 50%;
    transform: scale(1.05);
    @include elevation(2);
    z-index: 2;

    h2 {
      // color: $white;
      &::before {
        width: 100%;
      }
    }
  }

  

  .portfolio-card-image.using-background { 
    position: relative;
    height: 100%;
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    justify-self: center;
    @media screen and (max-width: $breakpoint-xsmall) {
      position: absolute;
      max-width: 100%; //calc(100% - 16px);
      max-height: 100%; //calc(100% - 16px);
      z-index: 0;
      opacity: 0.1;
    }
  }

  .portfolio-card-image.using-img-tag {
    padding: 16px;
    img {
      object-fit: contain;
      max-width: 100%;
    }
    @media screen and (max-width: $breakpoint-xsmall) {
      position: absolute;
      display: flex;
      justify-content: center;
      opacity: 0.2;
      width: 100%;
      height: 100%;
      padding: 0;
      margin: auto;
    }
  }

  @media screen and (max-width: $breakpoint-xsmall) {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }
}