@import '../../style/global.sass';

.portfolio-card {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 16px;
  color: $white;
  padding: 32px;
  align-items: center;
  text-align: left;
  border-radius: 2px;
  height: 33%; height: 33vh;
  transition: all cubic-bezier(0.165, 0.84, 0.44, 1) 500ms;
  @include box-shadow(0, 2px, 4px, rgba(0,0,0, 0.16) );

  &:hover {
    transform: scale(1.03);
    @include box-shadow(0, 4px, 8px, rgba(0,0,0, 0.16) );
  }

  h2, span {
    margin: 0.125em auto;
  }

  h2 {
    font-size: 32px;
  }

  span {
    font-size: 20px;
  }

  #portfolio-card-image { 
    position: relative;
    height: 100%;
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    justify-self: center;
    @media screen and (max-width: $breakpoint-xsmall) {
      // background-position: 0% 50%;
      display: none;
    }
  }

  @media screen and (max-width: $breakpoint-xsmall) {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }
}