@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@200;300;400;500;600;700&family=IBM+Plex+Sans:wght@300;400;500;600&display=swap');
@import url('../../style/nv-colors.scss');
/* stylelint-disable selector-max-compound-selectors */

@mixin ClassColor($className, $color, $variant: '') {
  $colorVar: var(--color-#{$color});

  @if $variant != '' {
    $colorVar: var(--color-#{$color}-#{$variant});
  }
  $colorVarLight: var(--color-#{$color}-20);
  
  .mermaid g.classGroup[id*=-#{$className}-] {
    rect {
      fill: $colorVarLight !important;
      stroke: $colorVar !important;
    }
    
    line {
      stroke: $colorVar !important;
    }

    text {
      fill: $colorVar !important;
      
      tspan {
        &:not(.title) {
          font-family: 'IBM Plex Mono', 'Roboto Mono', 'Courier New', Courier, monospace !important;  
          font-weight: 400;
        }

        &.title {
          font-family: 'IBM Plex Sans', 'Roboto', --apple-system, sans-serif;
        }
      }
    }
  }
}

@mixin Lines($color) {
  $colorVar: var(--color-#{$color});

  .mermaid  .relation {
    stroke: $colorVar !important;
  }

  #dependencyStart,
  #dependencyEnd {
    fill: $colorVar !important;
    stroke: $colorVar !important;
  }
}

@include ClassColor('Focus', 'blue');
@include ClassColor('Tile', 'navy', '80');
@include ClassColor('Filter', 'green');
@include ClassColor('FilterSet', 'green', 'dark-70');
@include ClassColor('Grouping', 'purple');
@include ClassColor('GroupingSet', 'purple', 'dark-70');
@include ClassColor('RollupMetric', 'salmon', 'dark-70');
@include ClassColor('StudentMetric', 'pink');
@include Lines('black-60');
