@import 'style/mixins.sass';
@import 'style/colours.sass';
@import 'style/variables.sass';

section.hero {
  color: $white;
	width: 100%;
	text-align: center;
	// overflow: hidden;
	min-height: 640px;
	height: 100vh;
	display: grid;
	grid-auto-flow: row;
	grid-template-rows: 80px 1fr;
	align-items: center;
	justify-content: center;
	
	&.green-bg {
		position: relative;
		&::after{
			content: '';
			position: absolute;
			width: 105%;
			height: 117%;
			transform: rotate(2deg) translate(-14px, -44px);
			@include CornerToCornerGradient($light_green, $green);
		}
	}

	header {
		position: relative;
		font-family: $sans-serif;
		font-weight: 400;
		pointer-events: none;
		display: flex;
		flex-direction: column;
		justify-content: center;
	
		* {
			margin: auto;
			position: relative;
			z-index: 10;
		}
	
		.hero-name {
			font-size: 112px;
			line-height: 1em;
			font-weight: 600;
		}
		.tagline {
			font-weight: 600;
			font-size: 96px // if title;
		}
	
		.bio-text {
			position: relative;
			text-align: center;
			font-family: $sans-serif;
			font-size: 20px;
			line-height: 2em;
			font-weight: 300;
		}
	
		.big-letters {
			position: absolute;
			max-width: none;
			width: 100%;
			top: 50%;
			transform: translateY(-50%);
			left: 0;
			right: 0;
			margin: auto;
			color: $dark_green;
			font-weight: 600;
			font-size: 512px;
			opacity: 0.15;
			z-index: 1;
			$letter-shift: 20%;
			
			// &.split-ux {
			// 	// opacity: 1;

			// 	* {
			// 		z-index: 0;
			// 		position: absolute;
			// 	}
			// 	#u {
			// 		left: 0;
			// 		transform: translate(-$letter-shift, -50%)
			// 	}
			// 	#x {
			// 		right: 0;
			// 		transform: translate($letter-shift, -50%)
			// 	}
			// }
		}
	}
}



  


