@import '../../../style/colours';
@import '../../../style/variables';
@import '../../../style/mixins.sass';

section.hero {
  $angle: 2deg;
  display: grid;
  overflow: hidden;
  width: 100vw;
  max-width: none;
  height: 100vh;
  min-height: 640px;
  align-items: center;
  justify-content: center;
  margin-bottom: 32px;

  color: $white;
  grid-auto-flow: row;
  grid-row-gap: 0;
  grid-template-rows: 80px 1fr;
  text-align: center;

  &.green-bg {
    position: relative;

    &::after {
      @include CornerToCornerGradient($light_green, $green);
      position: absolute;
      width: 110%;
      height: 100%;
      content: '';
      transform: rotate($angle) translate(-9%, 0);
      transform-origin: 100% 100%;
    }
  }

  > * {
    max-width: $content-width;
  }

  header {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: var(--font-sans);
    font-weight: 400;
    pointer-events: none;

    * {
      position: relative;
      z-index: 10;
      margin: auto;
    }

    .tagline {
      max-width: calc(100vw - 32px);
      margin: 0 16px;
      font-size: 96px;
      font-weight: 600;
      
      @media screen and (max-width: $breakpoint-medium) {
        font-size: 12vw;
      }
    }
    
    .bio-text {
      position: relative;
      max-width: calc(100vw - 32px);
      margin: 0 16px;
      font-family: inherit;
      font-size: 24px;
      font-weight: 400;
      line-height: 2em;
      text-align: center;
      @media screen and (max-width: $breakpoint-small) {
        line-height: 1.5em;
      }
    }

    .big-letters {
      position: absolute;
      z-index: 1;
      top: 50%;
      right: 0;
      left: 0;
      width: 100%;
      max-width: none;
      margin: auto;
      color: $dark_green;
      font-size: 512px;
      font-weight: 600;
      opacity: 0.15;
      transform: translateY(-50%);
      
      @media screen and (max-width: $breakpoint-small) {
        $letter-shift: 50%;
        /* stylelint-disable */
        #u {
          position: absolute;
          left: 0;
          transform: translate(-$letter-shift, -50%);
        }

        #x {
          position: absolute;
          right: 0;
          transform: translate($letter-shift, -50%);
        }

        /* stylelint-enable */
      }
      
      // &.split-ux {
      // 	// opacity: 1;

      // 	* {
      // 		z-index: 0;
      // 		position: absolute;
      // 	}
      // 	#u {
      // 		left: 0;
      // 		transform: translate(-$letter-shift, -50%)
      // 	}
      // 	#x {
      // 		right: 0;
      // 		transform: translate($letter-shift, -50%)
      // 	}
      // }
    }
  }
  @media screen and (max-width: $breakpoint-small) {
    height: 88vh;
  }
}



  


