@import '../../../style/colours.scss';
@import '../../../style/variables.scss';
@import '../../../style/mixins.sass';

section.hero {
	display: grid;
	grid-auto-flow: row;
	grid-template-rows: 80px 1fr;
	grid-row-gap: 0;
	align-items: center;
	justify-content: center;
	max-width: none;
	width: 100vw;
	height: 100vh;
	min-height: 640px;
	margin-bottom: 32px;
	text-align: center;
	color: $white;
	overflow: hidden;
	@media screen and (max-width: $breakpoint-small){
		height: 88vh;
	}

	$angle: 2deg;
	&.green-bg {
		position: relative;
		&::after{
			content: '';
			position: absolute;
			width: 110%;
			height: 100%;
			transform-origin: 100% 100%;
			transform: rotate($angle) translate(-9%, 0);
			@include CornerToCornerGradient($light_green, $green);
		}
	}

	> * {
		max-width: $content-width;
	}

	header {
		position: relative;
		font-family: var(--font-sans);
		font-weight: 400;
		pointer-events: none;
		display: flex;
		flex-direction: column;
		justify-content: center;
	
		* {
			margin: auto;
			position: relative;
			z-index: 10;
		}
	
		.tagline {
			font-weight: 600;
			font-size: 96px;
			margin: 0 16px;
			max-width: calc(100vw - 32px);
			
			@media screen and (max-width: $breakpoint-medium){
				font-size: 12vw;
			}
		}
		
		.bio-text {
			position: relative;
			text-align: center;
			font-family: inherit;
			font-size: 24px;
			line-height: 2em;
			font-weight: 400;
			margin: 0 16px;
			max-width: calc(100vw - 32px);
			@media screen and (max-width: $breakpoint-small){
				line-height: 1.5em;
			}
		}
	
		.big-letters {
			position: absolute;
			max-width: none;
			width: 100%;
			top: 50%;
			transform: translateY(-50%);
			left: 0;
			right: 0;
			margin: auto;
			color: $dark_green;
			font-weight: 600;
			font-size: 512px;
			opacity: 0.15;
			z-index: 1;
			
			@media screen and (max-width: $breakpoint-small){
				$letter-shift: 50%;
				#u {
					position: absolute;
					left: 0;
					transform: translate(-$letter-shift, -50%);
				}
				#x {
					position: absolute;
					right: 0;
					transform: translate($letter-shift, -50%);
				}
			}
			
			// &.split-ux {
			// 	// opacity: 1;

			// 	* {
			// 		z-index: 0;
			// 		position: absolute;
			// 	}
			// 	#u {
			// 		left: 0;
			// 		transform: translate(-$letter-shift, -50%)
			// 	}
			// 	#x {
			// 		right: 0;
			// 		transform: translate($letter-shift, -50%)
			// 	}
			// }
		}
	}
}



  


