hr {
  opacity: 0.6;
}
h1 {
  font-size: 2em;
  /* color: #497235; */
}
h1 span {
  font-size: 14pt;
  float: right;
}
a {
  color: #333;
}
section {
  margin: 0 40px;
}
.sub-heading{
  text-align: center;
  margin: 0;
}

.about {
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  transition: all 0.3s linear; 
}


@media screen and (min-width: 920px) {
  #profile_img {
    height: 350px;
    margin-left: 50px;
    position: relative;
    top: -48px;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    transition: all 0.3s linear; 
  }
}
@media screen and (max-width: 919px) {
  #profile_img {
    height: 256px;
    margin-left: 36px;
    position: relative;
    top: -32px;    
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    transition: all 0.3s linear;    
  }
}

@media screen and (max-width: 768px) {
  #profile_img {
    width: 60%;
    height: auto;
    margin: 24px 20% 0 20%;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    transition: all 0.3s linear;    
  }
  .about_text {
    text-align: justify;
  }
}

.about {
    position: relative;
    overflow: hidden; 
  }
  #about_div {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    padding: 0;
    clear: both; 
  }

.experience {
  clear: both; 
  position: relative;
  overflow: hidden; }
  .experience h2 {
    text-align: center;}
  .job {
    width: 100%;
    max-width: 1170px;
    height: auto;
    margin: 0 auto;
    padding: 0;
    clear: both; 
   }
   .job h1 span {
    font-style: italic; 
   }
   @media screen and (min-width: 769px){
      .job .term {
        margin: 4%;
        width: 25%;
        float: left; }
   }
   @media screen and (max-width: 768px) {
      .job .term {
        margin: 15px 15%;
        width: 70%;
        float: left; }
      .job ul {
        display: none;
      } 
      .job h1 span {
        display: none;
      } 
   }
    .job span {
    font-size: 14pt;
    text-align: center;
  }

    .job .term .logo .circle {
      padding-bottom: 100%;
      border-radius: 50%;
      background-size: 75%;
      background-repeat: no-repeat;
      background-position: center center;
      -webkit-transition: all 0.3s linear;
      -moz-transition: all 0.3s linear;
      transition: all 0.3s linear; 
      box-shadow: 0px 0px 0px #4B4B4B;
    }
    .job .term .logo .circle:hover {
      /* box-shadow: 1px 1px 0px #4B4B4B; */
      -webkit-transition: all 0.3s linear;
      -moz-transition: all 0.3s linear;
      transition: all 0.3s linear; 
    }
              
    .job #knowroaming .logo .circle {
      /* border: 2px solid rgb(27, 71, 95); */
      background-color: rgba(27, 71, 95, 0.05);
      background-image: url('../image_assets/knowroaming_logo.png');
    }
    .job #knowroaming .logo .circle:hover{
      background-color: rgba(27, 71, 95, 0.09);
    }
    .job #sony .logo .circle {
      /* border: 2px solid rgb(67, 78, 109); */
      background-color: rgba(67, 78, 109, 0.05);
      background-image: url('../image_assets/sen_logo.png');
    }
    .job #sony .logo .circle:hover{
      background-color: rgba(67, 78, 109, 0.09);
    }
    .job #genesys .logo .circle {
      /* border: 2px solid rgb(50,50,50); */
      background-color: rgba(50, 50, 50, 0.05);
      background-image: url('../image_assets/genesys_logo.png');
    }
    .job #genesys .logo .circle:hover{
      background-color: rgba(50, 50, 50, 0.09);
    }

    .job .term ul {
    padding: 0;
    }
    .job .term ul li {
      font-size: 14pt;
      list-style: none;
      line-height: 1.5em;
      padding-bottom: 15px;
      text-align: left;
    }

.skills {
  clear: both; 
  position: relative;
  overflow: hidden; 
  padding: 0 0 64px 0; }
  .programs {
    width: 100%;
    max-width: 1170px;
    height: auto;
    margin: 3% auto 0 auto;
    padding: 0;
    clear: both; 
  }
  .skills ul {
    padding: 0;
    list-style: none;
  }
  @media screen and (min-width: 769px) {
    .skills ul li {
      width: 7%;
      margin: 2.75%;
      float: left;
      -webkit-transition: all 0.3s linear;
      -moz-transition: all 0.3s linear;
      transition: all 0.3s linear; 
    }
    .skills ul li p {
      margin: 0;
      text-align: center;
    }
    .skills ul li:hover {
      margin-top: 2%;
      margin-bottom: 3.5%;
      -webkit-transition: all 0.3s linear;
      -moz-transition: all 0.3s linear;
      transition: all 0.3s linear; 
    }
  }
  @media screen and (max-width: 768px) {
    .skills ul li {
      width: 20%;
      margin: 1% 2.5%;
      float: left;
    }
    .skills ul li p {
      display: none;
    }   
  }
  .skills ul li div {
    padding-bottom: 100%;
    background-size: 100%;
    background-repeat: no-repeat;
    border-radius: 0;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    transition: all 0.3s linear; 
  }

  /* APP ICONS */
    /* graphics */
  .skills #photoshop div {
    background-image: url('../image_assets/apps/photoshop.png');}
  .skills #ai div {
    background-image: url('../image_assets/apps/ai.png');}
  .skills #indesign div {
    background-image: url('../image_assets/apps/indesign.png');}
  .skills #sketch div {
    background-image: url('../image_assets/apps/sketch.png');}
  .skills #balsamiq div {
    background-image: url('../image_assets/apps/balsamiq.png');}

    /* 3d */
  .skills #autocad div {
    background-image: url('../image_assets/apps/autocad.png');}
  .skills #inventor div {
    background-image: url('../image_assets/apps/inventor.png');}
  .skills #max div {
    background-image: url('../image_assets/apps/max.png');}

    /* Dev */
  .skills #sublime div {
    background-image: url('../image_assets/apps/sublime.png');}
  .skills #coda div {
    background-image: url('../image_assets/apps/coda.png');}
  .skills #xcode div {
    background-image: url('../image_assets/apps/xcode.png');}
  .skills #espresso div {
    background-image: url('../image_assets/apps/espresso.png');}

    /* video */
  .skills #ae div {
    background-image: url('../image_assets/apps/ae.png');}
  .skills #c4d div {
    background-image: url('../image_assets/apps/c4d.png');}
  .skills #premiere div {
    background-image: url('../image_assets/apps/premiere.png');}
  .skills #final_cut div {
    background-image: url('../image_assets/apps/final_cut.png');}

footer div{
    width: 100%;
    max-width: 1170px;
    height: auto;
    margin: 16px auto; 
    padding: 0;
    clear: both; 
    text-align: center;
}