@import '../../../style/colours';
@import '../../../style/variables';

.portfolio-page-header {
  position: relative;
  z-index: 10;
  width: 100%;
  max-width: $folio-max-width;
  border-bottom: 2px solid $black;
  justify-self: center;

  .portfolio-page-link {
    display: inline-flex;
    align-content: center;
    justify-content: flex-start;
    margin: 4px auto 4px 16px;
    
    &:focus {
      outline-color: $black;
    }

    &:hover {
      border-color: transparent;
    }
  }

  .portfolio-page-logo {
    width: auto;
    height: auto;
  }

  .portfolio-page-title {
    margin: 0;
    margin-left: 12px;
    color: $black;
    font-family: var(--font-sans);
    font-size: 28px;
    font-weight: 400;
  }
}
