.section#portfolio content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 40px 32px;

  a {
    text-decoration: none;
    border: none;
    display: grid;
    &:hover {
      border: none;
      text-decoration: none;
    }
  }
}