@import '../../style/variables.module.scss';

.quote-section {
  box-sizing: border-box;
  display: block;
  padding: 0 $global-margin;
  margin: 24px 0;
}

.quote {
  display: inline-block;
  padding-left: 0.5ch;
  margin: 0;
  font-size: 40px;
  font-style: italic;
  font-weight: 400;
  border-left: var(--color-green) 0.25ch solid;
}

.quote-attribution {
  float: right;
  font-size: 24px;
  font-weight: 400;

  &::before {
    content: '— ';
  }
}
