@import '../../style/colours';

.section#resume {  
  .content {
    text-align: right;
  }

  .resume-card-section {
    display: grid;
    grid-gap: 24px 32px;
    grid-template-columns: repeat(auto-fit, minmax(256px, 1fr));
  }

  a.print-resume {
    display: inline-flex;
    align-items: baseline;
    margin-top: 24px;
    color: $green_small;
    line-height: 1em;

    svg {
      margin-left: 4px;
    }
  }
}
