@import '../../style/colours.scss';
@import '../../style/variables.scss';

header.porfolio-page-header {
  position: relative;
  z-index: 10;
  border-bottom: 2px solid $black;

  width: 100%;
  max-width: $folio-max-width;
  justify-self: center;

  h1 {
    margin: 0;
    margin-left: 12px;
    color: $black;
    font-size: 28px;
    font-family: var(--font-serif);
    font-weight: 400;
  }
  a {
    display: inline-flex;
    align-content: center;
    justify-content: flex-start;
    margin-left: 16px;
    
    &:focus{
      outline-color: $black;
    }
  }
  a:hover {
    border: none;
  }
}