@import '../../style/colours';
@import '../../style/variables';

header.porfolio-page-header {
  border-bottom: 2px solid $black;
  justify-self: center;
  max-width: $folio-max-width;
  position: relative;

  width: 100%;
  z-index: 10;

  h1 {
    color: $black;
    font-family: var(--font-sans);
    font-size: 28px;
    font-weight: 400;
    margin: 0;
    margin-left: 12px;
  }

  a {
    align-content: center;
    display: inline-flex;
    justify-content: flex-start;
    margin-left: 16px;
    
    &:focus {
      outline-color: $black;
    }
  }

  a:hover {
    border: unset;
  }
}
