@import '../../style/utilities';

.section:global(#about) {
  margin: 0;
  margin-bottom: 24px ;
  text-align: left;
  scroll-margin-top: 128px;

  .about_text {
    position: relative;
  }


  p:first-child {
    margin-top: 0;
  }

  p:last-child {
    margin-bottom: 0;
  }
}
