@import '../../style/variables';
@import '../../style/mixins';

.card {
  @include animate(all, 0.2s, $animation-ease);
  @include elevation(4);
  background-color: var(--color-bg-base);
  padding: 16px;
  border-radius: 12px;

  &.dark {
    border: 1px solid var(--color-text-secondary);
  }
}

.clickableCard {
  @extend .card;
  @include clickable-card(4, 8);
}
