@import '../../style/variables';
@import '../../style/mixins';

.card {
  @include animate(all, 0.2s, $animation-ease);
  @include elevation(8);
  padding: 16px;
  border-radius: 4px;
    
  &.clickable {
    @include elevation(16);

    &:hover,
    &:focus {
      @include elevation(24);
      transform: translate(0, -8px);
    }

    &:active {
      @include elevation(8);
      transform: translate(0, 0);
    }
  }
}
