@use '../../style/variables.scss';
@use '../../style/mixins.sass' as *;

.card {
    border-radius: 4px;
    padding: 16px;
	@include animate-elements(all, 0.2s, variables.$animation-ease);
    @include elevation(8);
    
    &.clickable {
        @include elevation(16);
        &:hover, &:focus {
            @include elevation(24);
            transform: translate(0, -8px);
        }
        &:active {
            @include elevation(8);
            transform: translate(0, 0);
        }
    }
}