.tool {
  display: inline-flex;
  position: relative;
  align-items: center;
  font: inherit;
  height: 1em;
  img {
    height: 1em;
    width: auto;
    bottom: -0.125em;
  }

  span {
    font-size: 1em;
    padding-left: 0.25em;
  }
}