header.main-header {
	padding-top: 1rem;
}

.header .title, .sub-header .title {
	z-index: 100;
	position: relative;
	display: block;
	float: none;
}

.header .title {
	text-align: center;
}

.sub-header .title {
	text-align: left;
}

.header .tagline, .sub-header .tagline {
	position: relative;
	display: block;
	width: 36rem;
	text-align: right;
	margin: auto;
	font-weight: 100;
	font-size: 2rem;
	line-height: 1em;
	padding-top: 16px;  
	/*3.2rem + title-height - this-height */
}
.tagline em {
	color: #5B753D;
}
@media (max-width: 1280px) {
	.header .tagline, .sub-header .tagline {
		font-size: 1.6em;
		line-height: 1.25em;
		padding-top: 3em;
	}
}

/* BIO */

.bio {
	/*height: 12rem;*/
	width: 100%;
	margin: 12vh 0 24vh 0;
}

@media screen and (min-width: 1160px) {
	.shrinkwrap {
		min-width: 62rem;
	}
}
.bio-pic {
	position: relative;
	display: block;
	margin: auto;
	border-radius: 100%;
	width: 12rem;
	height: 12rem;
/*	background-color: #5B753D;
	border-color: #DCE6CF;
	border-left: 1px solid;
	border-right: 1px solid;
	transform: rotateZ(25deg);
	-moz-transform: rotateZ(25deg);
	-webkit-transform: rotateZ(25deg);*/
}
.bio-pic img {
	width: 100%;
	height: 100%;
	border-radius: 40%;
/*	transform: rotateZ(-25deg);
	-moz-transform: rotateZ(-25deg);
	-webkit-transform: rotateZ(-25deg);*/
}
.bio-text {
	position: relative;
	display: block;
	text-align: center;
	font-size: 1rem;
	line-height: 1.5em;
	font-weight: 100;
	margin-top: 2.5em;
}
/*@media screen and (max-width: 1160px){
	.bio {
		margin-top: 4rem;
	}
	.bio-pic {
		width: 25%;
		height: auto;
		margin-right: 4%;
	}
	.bio-text {
		width: 71%;
		top: 0;
		padding-top: 0.8em;
		border-top: 1px solid #5B753D;
	}
	.social-list.dark {
		width: 76%;
		margin: 0 12%;
		padding-top: 2rem;
	}
}*/
.bio .bio-text p {
	margin: 0;
	line-height: 1.5em;
}