.portfolio-page .header {
	margin: 0;
}
.portfolio-page .header .title{
	top: 0.5em;
}
.portfolio-page .header .tagline{
	top: 2.5em;
}
.portfolio-title {
	width: 100%;
	margin: 0 auto;
	margin-bottom: 0.75em;
	text-align: center;
}


.portfolio-page h2 {
	
}

.portfolio-page h3 {
	
}

.portfolio-page h4 {
	
}

.portfolio-page p {
	line-height: 1.6em;
}




/* ------ Default Style ------ */
.gallery-content {
	position: relative;
	display: inline-block;
	width: 84%;
	padding: 0 8%;
	padding-bottom: 3rem;
	margin-top: 5rem;
}
.cover-photo {
	width: 100%;
}

.col {
	position: relative;
	font-size: 1.2rem;
	line-height: 1.5em;
}
.single-column {
	width: 100%;
	max-width: 720px;
	margin: 0 auto;
}
.left-column {
	width: 52%;
	padding: 0 4% 0 2%; 
}
.right-column {
	width: 38%;
	padding: 0 2% 0 2%; 
}
.folio_paragraph {
	width: 100%;
	line-height: 1.75em;
}
.folio_image {
	display: inherit;
	position: relative;
	width: 100%;
	height: auto;
	margin: 0;
	text-align: center;
}
.folio_image img {
	position: relative;
	display: inline-block;
	max-width: 90%;
	max-height: 640px;
	width: auto;
	height: auto;
	margin: 0;
}

.folio_image iframe {
	width: 90%;
	height: 640px;
}

.folio_image figcaption {
	text-align: center;
	font-size: 1rem;
	color: #5B753D;
	max-width: 80%;
	margin: 0 10%;
}

blockquote {
	border-left: 1px solid #5B753D;
	padding-left: 1em;
}

@media screen and (max-width: 1160px) {
	.sub-header {
		margin-top: 1rem;
	}
	.sub-header::before {
		width: calc(100% - 56px);
	}
	.sub-header::after{
		right: -108px;
	}
	.sub-header .title {
		font-size: 2.4rem;
		line-height: 3.2rem;
		width: 100%;
		max-width: 520px;
		top: 0;
	}
}

@media screen and (max-width: 768px) {
	.left-column, .right-column {
		width: 100%;
	}
	.folio-paragraph, .folio-image {
		width: 100%;
		display: block;
	}
	.folio-paragraph {
		text-indent: 1.2em;
	}
}
