header.main-header {
	background: #FAFAFAcc;
	-webkit-backdrop-filter: saturate(1.8) blur(20px);
	height: auto;
	z-index: 1;
}

.portfolio-page .header {
	margin: 0;
}
.portfolio-page .header .title{
	text-align: center;
	padding: 12px 0;
	font-size: 3rem;
	border-bottom: 1px solid #4a4a4a;
	opacity: 1;
}

.portfolio-page .header .title:before {
	content: ''
}

.portfolio-page .header .tagline{
	display: none;
	top: 2.5em;
}
.portfolio-title {
	width: 100%;
	margin: 0 auto;
	margin-bottom: 0.75em;
	text-align: center;
	font-family: "Raleway", "Lato", "Helvetica", sans-serif;
	/*font-size: 4rem;*/
}

.portfolio-page h1 {
	font-size: 40px;

}

.portfolio-page h2 {
	font-size: 32px;
	font-style: normal;
	font-weight: bold;
	color: #5B753D;
}

.portfolio-page h3 {
	font-size: 32px;
	font-weight: 300;
}

.portfolio-page h4 {
	font-size: 28px;
	font-weight: normal;	
}

.portfolio-page h5 {
	font-size: 24px;
	color: #808080;
	font-weight: normal;
}
.portfolio-page h6 {
	font-size: 20px;
	color: #808080;
	font-weight: normal;
	font-style: italic;
	margin: 0;

}
.portfolio-page p {
	line-height: 1.6em;
}




/* ------ Default Style ------ */
.gallery-content {
	position: relative;
	display: inline-block;
	width: 84%;
	padding: 24px 8%;
	/*padding-bottom: 3rem;*/
	/*margin-top: 5rem;*/
}
.cover-photo {
	width: 100%;
}

.col {
	position: relative;
	font-size: 1rem;
	line-height: 1.5em;
}
.single-column {
	width: 100%;
	max-width: 720px;
	margin: 0 auto;
}
.left-column {
	width: 52%;
	padding: 0 4% 0 2%; 
}
.right-column {
	width: 38%;
	padding: 0 2% 0 2%; 
}
.folio_paragraph {
	width: 100%;
	line-height: 1.75em;
}
.folio_image {
	display: inherit;
	position: relative;
	width: 100%;
	height: auto;
	margin: 0;
	text-align: center;
}
.folio_image img {
	position: relative;
	display: inline-block;
	max-width: 90%;
	max-height: 440px;
	width: auto;
	height: auto;
	margin: 0;
}

.folio_image iframe {
	width: 90%;
	height: 640px;
}

figcaption {
	text-align: center;
	font-size: 1rem;
	color: #808080;
	max-width: 80%;
	margin: 0 10%;
}

blockquote {
	border-left: 1px solid #5B753D;
	padding-left: 1em;
	color: #808080;
}

table {
	font-size: 12px;
	line-height: 1.2em;
	border: none;
	width: 100%;
}
table * {
	border: 1px solid #cacaca;
	margin: 0;
}
/*
@media screen and (max-width: 1160px) {
	.sub-header {
		margin-top: 1rem;
	}
	.sub-header::before {
		width: calc(100% - 56px);
	}
	.sub-header::after{
		right: -108px;
	}
	.sub-header .title {
		font-size: 2.4rem;
		line-height: 3.2rem;
		width: 100%;
		max-width: 520px;
		top: 0;
	}
}

@media screen and (max-width: 768px) {
	.left-column, .right-column {
		width: 100%;
	}
	.folio-paragraph, .folio-image {
		width: 100%;
		display: block;
	}
	.folio-paragraph {
		text-indent: 1.2em;
	}
}*/
