section.resume {
	min-height: 12em;
}
.resume a {
	text-decoration: underline;
}
.filter-notification {
	font-family: "Raleway", "Lato", "Helvetica", "Arial", sans-serif;
	color: #cacaca;
	font-size: 0.5em;
	line-height: 2em;
}

.resume-header {
	padding-left: 1rem;
	width: 30%;
	font-weight: 400;
	border-bottom: 1px solid #4a4a4a;
}
	.resume-title {
		font-family: "Raleway", "Lato", "Helvetica", "Arial", sans-serif;
		font-size: 2rem;
		line-height: 2em;
	}
.resume-item {
	display: none;
}
.experience {
	position: relative;
	display: inline-block;
}
	.job {
		display: block;
		position: relative;
		width: 100%;
		overflow: hidden;
		margin-top: 3rem;
	}
		.logo-container {
			width: 20%;
			height: 100%;
			float: left;
			display: inline-block;
		}
			.logo {
				width: 80%;
				height: 0;
				padding-bottom: 80%;
				margin-right: 10%;
				border-radius: 100%;	
				background-color: #f2f2f2;
				background-size: 80%;
				background-position: 50%;
				background-repeat: no-repeat;
			}	
				.zynga .logo {
					background-image: url("../image_assets/zynga_logo.png");
				}
				.noom .logo {
					background-image: url("../image_assets/noom_logo.png");
				}
				.knowroaming .logo {
					background-image: url("../image_assets/knowroaming_logo.png");
					background-position: 50% 46%;
				}
				.sony .logo {
					background-image: url("../image_assets/sony_logo.png");	
				}
				.genesys .logo {
					background-image: url("../image_assets/genesys_logo.png");		
				}

			.company-site {
				display: none;
				margin-top: 0.8rem;
				font-family: "Lato", "Helvetica", "Arial", sans-serif;
				font-size: 1rem;
				font-weight: 300;
				text-align: center;
			}
			.job .company-site a {
				text-decoration: none;
				color: #4a4a4a;
			}

		.resume-content {
			max-width: calc(80% - 2rem - 1px);
			min-height: 100%;
			float: left;
			display: inline-block;
			padding-left: 2rem;
			/*border-left: 1px solid #4a4a4a;*/
		}
			.subsection-header {

			}
				.subsection-title {
					font-family: "Raleway", "Lato", "Helvetica", "Arial", sans-serif;
					font-size: 2rem;
					font-weight: 400;
				}
					.inline-note {
						display: inline;
						font-size: 1.25rem;
						font-style: italic;
					}

				.subsection-duration {
					margin-left: 1rem;
					font-family: "Lato", "Helvetica", "Arial", sans-serif;
					font-size: 1rem;
					font-weight: 300;
				}
			.resume-list {
				padding-left: 1rem;
				font-size: 1.1rem;
				line-height: 1.5em;
				list-style-type: disc;
			}

				.resume-content-divider {
					font-size: 1.5rem;
					line-height: 1.5em;
					margin-bottom: 0.5em;
					text-decoration: underline;
					font-style: italic;
				}
				.resume-list li {
					margin-bottom: 1em;
				}
				.resume-list .list-description {
					font-family: "Merriweather", "Garamond", "Times New Roman", serif;
					font-size: 1rem;
				}

.skills {
	position: relative;
	display: inline-block;
	margin-top: 2rem;
}
	.skills-sub-header {
		padding-left: 1rem;
		padding-top: 1.5rem;
		font-family: "Raleway", "Lato", "Helvetica", "Arial", sans-serif;
		font-size: 1.5rem;
		line-height: 2em;	
	}
		.program-list {
			display: block;
			position: relative;
			padding: 0;
			margin: 0;
			list-style: none;
		}
			.program-list li {
				display: none;
				position: relative;
				width: 7%;
				margin: 1rem 2.75% 1rem 2.75%;
				float: left;
			}
			.program-list li:hover {
				margin-top: 0.5rem;
				margin-bottom: 1.5rem;
			}
				.program-list li .app-name {
					position: relative;
					margin: 0;
					padding-top: 0.5em;
					font-size: 1rem;
					line-height: 1rem;
					min-height: 2rem;
					text-align: center;
				}
				.program-list li .app-logo {
					position: relative;
					padding-bottom: 100%;
					background-size: 100%;
					background-repeat: no-repeat;
					border-radius: 0;
				}
					/* APP ICONS */
					/* graphics */
					#sketch .app-logo {
					background-image: url('../image_assets/apps/sketch.png');}
					#photoshop .app-logo {
					background-image: url('../image_assets/apps/photoshop.png');}
					#ai .app-logo {
					background-image: url('../image_assets/apps/ai.png');}
					#indesign .app-logo {
					background-image: url('../image_assets/apps/indd.png');}
					#balsamiq .app-logo {
					background-image: url('../image_assets/apps/balsamiq.png');}
					#framer .app-logo {
					background-image: url('../image_assets/apps/framer.png');}
					#origami .app-logo {
					background-image: url('../image_assets/apps/origami.png');}

					/* Dev 1 */
					#html5 .app-logo {
					background-image: url('../image_assets/apps/html5.png');}
					#css3 .app-logo {
					background-image: url('../image_assets/apps/css3.png');}
					#jquery .app-logo {
					background-image: url('../image_assets/apps/jquery.png');}
					#coffeescript .app-logo {
					background-image: url('../image_assets/apps/coffeescript.png');}

					#arduino .app-logo {
					background-image: url('../image_assets/apps/arduino.png');}
					#xcode .app-logo {
					background-image: url('../image_assets/apps/xcode.png');}
					#php .app-logo {
					background-image: url('../image_assets/apps/php.png');}
					#cpp .app-logo {
					background-image: url('../image_assets/apps/cpp.png');}
					#java .app-logo {
					background-image: url('../image_assets/apps/java.png');}
					#swift .app-logo {
					background-image: url('../image_assets/apps/swift.png');}
					#python .app-logo {
					background-image: url('../image_assets/apps/python.png');}
					#matlab .app-logo {
					background-image: url('../image_assets/apps/matlab.png');}
					#git .app-logo {
					background-image: url('../image_assets/apps/git.png');}
					#bootstrap .app-logo {
					background-image: url('../image_assets/apps/bootstrap.png');}
					#sass .app-logo {
					background-image: url('../image_assets/apps/sass.png');}
					#excel .app-logo {
					background-image: url('../image_assets/apps/excel.png');}
					#sql .app-logo {
					background-image: url('../image_assets/apps/sql.png');}	

					/* 3d */
					#autocad .app-logo {
					background-image: url('../image_assets/apps/autocad.png');}
					#inventor .app-logo {
					background-image: url('../image_assets/apps/inventor.png');}
					#rhino .app-logo {
					background-image: url('../image_assets/apps/rhino.png');}
					#max .app-logo {
					background-image: url('../image_assets/apps/max.png');}
					#c4d .app-logo {
					background-image: url('../image_assets/apps/c4d.png');}
					/* video */
					#ae .app-logo {
					background-image: url('../image_assets/apps/ae.png');}
					#premiere .app-logo {
					background-image: url('../image_assets/apps/premiere.png');}
					#final_cut .app-logo {
					background-image: url('../image_assets/apps/final_cut.png');}


					/* Other */
					#espresso .app-logo {
					background-image: url('../image_assets/apps/espresso.png');}
					#sublime .app-logo {
					background-image: url('../image_assets/apps/sublime.png');}
					#coda .app-logo {
					background-image: url('../image_assets/apps/coda.png');}


.education {
	position: relative;
	display: inline-block;
}
.school {
	margin-top: 2rem;
}
	.school#uwaterloo .logo {
		background-image: url('../image_assets/uwaterloo.gif');}
	}
	.school#fhci .logo {
		background-image: url('../image_assets/fhci.png');}
	}
