@import './colours.def.scss';
@import './darkMode.mixins.scss';

:root {
  // Primitive Colors
  --color-green-lightest-trans: #{$green-light300_trans};
  --color-green-light300: #{$green-light300};
  --color-green-light200: #{$green-light200};
  --color-green-light100: #{$green-light100};
  --color-green-light025: #{$green-light025};
  --color-green-base: #{$green-base};
  --color-green-dark025: #{$green-dark025};
  --color-green-dark050: #{$green-dark050};
  --color-green-dark100: #{$green-dark100};
  --color-green-dark200: #{$green-dark200};
  --color-green-dark300: #{$green-dark300};

  --color-white: #{$white};
  --color-grey-light: #{$grey-light300};
  --color-grey-base: #{$grey-base};
  --color-grey-dark200: #{$grey-dark200};
  --color-grey-dark300: #{$grey-dark300};
  --color-black: #{$black};
  
  --color-white-trans: #{$white-trans};
  --color-grey-dark-trans: #{$grey-dark200_trans};
  --color-transparent: #{$transparent};
  
  // ---- Brand Colours ---- //
  --color-newvisions: #{$newvisions};
  --color-newvisions-light: #{$newvisions_light};
  --color-newvisions-lightest: #{$newvisions_lightest};
  --color-noom: #{$noom};
  --color-noom-light: #{$noom_light};
  --color-noom-lightest: #{$noom_lightest};
  --color-knowroaming: #{$knowroaming};
  --color-knowroaming-light: #{$knowroaming_light};
  --color-knowroaming-lightest: #{$knowroaming_lightest};
  --color-smrtwatr: #{$smrtwatr};
  --color-smrtwatr-light: #{$smrtwatr_light};
  --color-smrtwatr-lightest: #{$smrtwatr_lightest};
  --color-chameleon: #{$chameleon};
  --color-chameleon-light: #{$chameleon_light};
  --color-chameleon-lightest: #{$chameleon_lightest};
  --color-zynga: #{$zynga};
  --color-zynga-light: #{$zynga_light};
  --color-zynga-lightest: #{$zynga_lightest};
  --color-tap: #{$tap};
  --color-tap-light: #{$tap_light};
}

// Semantic Tokens
@mixin LightModeTokens {
  
  --color-brand-dark: var(--color-green-dark050);
  --color-brand-base: var(--color-green-base);
  --color-brand-light: var(--color-green-light100);

  --color-hero-start: var(--color-green-light100);
  --color-hero-end: var(--color-green-base);
  --color-hero-text: var(--color-black);

  --color-text-base: var(--color-black);
  --color-text-secondary: var(--color-grey-dark200);
  --color-text-inverse: var(--color-white);
  --color-text-brand-bg: var(--color-white);

  --color-text-brand: var(--color-green-dark025);
  --color-text-selection: var(--color-green-light300);

  --color-bg-base: var(--color-white);
  --color-bg-brand: #{$green-light025};
  --color-bg-hover: rgba(0, 0, 0, 0.16);
}

@mixin DarkModeTokens {
  
  --color-brand-dark: var(--color-green-dark200);
  --color-brand-base: var(--color-green-base);
  --color-brand-light: var(--color-green-base);

  --color-hero-start: var(--color-green-dark025);
  --color-hero-end: var(--color-green-dark200);
  --color-hero-text: var(--color-black);

  --color-text-base: var(--color-white);
  --color-text-secondary: var(--color-grey-base);
  --color-text-inverse: var(--color-black);
  --color-text-brand-bg: var(--color-white);

  --color-text-brand: var(--color-green-light100);
  --color-text-selection: var(--color-green-dark050);

  --color-bg-base: var(--color-green-dark300);
  --color-bg-brand: var(--color-green-dark050);
  --color-bg-hover: rgba(255, 255, 255, 0.16);
}

body { 
  @include Mode("light") {
    @include LightModeTokens();
  }

  @include Mode("dark") {
    @include DarkModeTokens();
  }
}