@import './colours.def.scss';
@import './darkMode.mixins.scss';

:root {
  // Primitive Colors
  --color-green-lightest-trans: #{$green-light300_trans};
  --color-green-light300: #{$green-light300};
  --color-green-light200: #{$green-light200};
  --color-green-light100: #{$green-light100};
  --color-green-light025: #{$green-light025};
  --color-green-base: #{$green-base};
  --color-green-dark025: #{$green-dark025};
  --color-green-dark050: #{$green-dark050};
  --color-green-dark100: #{$green-dark100};
  --color-green-dark200: #{$green-dark200};
  --color-green-dark300: #{$green-dark300};

  --color-white: #{$white};
  --color-grey-light: #{$grey-light300};
  --color-grey-base: #{$grey-base};
  --color-grey-dark200: #{$grey-dark200};
  --color-grey-dark300: #{$grey-dark300};
  --color-black: #{$black};
  
  --color-white-trans: #{$white-trans};
  --color-grey-dark-trans: #{$grey-dark200_trans};
  --color-transparent: #{$transparent};
  
  // ---- Brand Colours ---- //
  --color-newvisions: #{$newvisions};
  --color-newvisions-light: #{$newvisions_light};
  --color-newvisions-lightest: #{$newvisions_lightest};
  --color-noom: #{$noom};
  --color-noom-light: #{$noom_light};
  --color-noom-lightest: #{$noom_lightest};
  --color-knowroaming: #{$knowroaming};
  --color-knowroaming-light: #{$knowroaming_light};
  --color-knowroaming-lightest: #{$knowroaming_lightest};
  --color-smrtwatr: #{$smrtwatr};
  --color-smrtwatr-light: #{$smrtwatr_light};
  --color-smrtwatr-lightest: #{$smrtwatr_lightest};
  --color-chameleon: #{$chameleon};
  --color-chameleon-light: #{$chameleon_light};
  --color-chameleon-lightest: #{$chameleon_lightest};
  --color-zynga: #{$zynga};
  --color-zynga-light: #{$zynga_light};
  --color-zynga-lightest: #{$zynga_lightest};
  --color-tap: #{$tap};
  --color-tap-light: #{$tap_light};
}

// Semantic Tokens
body {
  color-scheme: light dark;
  
  --color-brand-dark: light-dark(var(--color-green-dark050), var(--color-green-dark200));
  --color-brand-base: var(--color-green-base);
  --color-brand-light: light-dark(var(--color-green-light100), var(--color-green-base));

  --color-hero-start: light-dark(var(--color-green-light100), var(--color-green-dark025));
  --color-hero-end: light-dark(var(--color-green-base), var(--color-green-dark200));
  --color-hero-text: var(--color-black);

  --color-text-base: light-dark(var(--color-black), var(--color-white));
  --color-text-link: light-dark(var(--color-green-dark025), var(--color-green-light100));
  --color-text-secondary: light-dark(var(--color-grey-dark200), var(--color-grey-base));
  --color-text-inverse: light-dark(var(--color-white), var(--color-black));
  --color-text-brand-bg: var(--color-white);

  --color-text-brand: light-dark(var(--color-green-dark025), var(--color-green-light100));
  --color-text-selection: light-dark(var(--color-green-light300), var(--color-green-dark050));

  --color-bg-base: light-dark(var(--color-white), var(--color-green-dark300));
  --color-bg-brand: light-dark(#{$green-light025}, var(--color-green-dark050));
  --color-bg-hover: light-dark(rgba(0, 0, 0, 0.16), rgba(255, 255, 255, 0.16));
}