@import './colours.def.scss';
@import './colours';
@import './typography';

@import './variables';
@import './mixins';

*::selection {
  background-color: var(--color-text-selection) /* WebKit/Blink Browsers */
}

html {
  --vh: 1vh;
  --app-angle: 3deg;
  @media screen and (max-width: $breakpoint-small) {
    --app-angle: 4deg;
  }

  font-size: 16px;
  font-feature-settings: 'ss01';
  scroll-behavior: smooth;
  

  body {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    font-family: var(--font-sans);
    font-weight: 300;
    color: var(--color-text-base);
    background: var(--color-bg-base);
  }

  main {
    display: grid;
    grid-auto-flow: row;
    justify-content: center;
    padding: 0;
    margin: 0;
    background-color: var(--color-bg-base);
    min-height: 100vh;
  }

  h1 {
    @include responsiveText(48, 56);
    font-weight: 100;
    color: var(--color-text-base);
  }

  h2 {
    @include responsiveText(32, 48);
    font-weight: 700;
    color: var(--color-text-base);
  }

  h3 {
    @include responsiveText(24, 36);
    font-weight: 700;
    color: var(--color-text-base);
  }

  p {
    @include responsiveText(20, 24);
    font-weight: 100;
    line-height: 1.5em;
    color: var(--color-text-base);
  }

  a {
    font-weight: 700;
    color: inherit;
    text-decoration: none;
    cursor: pointer;
    border-bottom: 2px solid transparent;

    &:hover {
      text-decoration: none;
      border-bottom: 2px solid var(--color-brand-base);
    }

    &:focus {
      outline: 2px solid var(--color-brand-light100);
      outline-offset: 0.25em;
    }
    
  }
}

.hide-mobile {
  @media screen and (max-width: $breakpoint-small) {
    display: none;
  }
}
