@import 'style/global.sass';

.section-header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: left;
    justify-self: left;
    // min-width: 33%;
    // max-width: 50%;
    color: $black;
    height: 96px;
    // border-bottom: 1px solid $med_grey;
    // padding: 0 32px;

    &::after{
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        transform: rotate(2deg);
        // translate(-14px, -44px);
        border-bottom: 1px solid $med_grey;
    }

    h1 {
        display: inline-block;
        font-size: 36px;
        font-weight: 600;
    }
}

// 	&.subsection
// 		.header-underline
// 			h1
// 				color: $black
// 				font-family: $sans-serif
// 				font-weight: 300
// 				font-size: 2rem
// 				margin: 32px auto