@import '../../style/utilities';

.section-header {
  @include responsiveText(16, 20);

  position: relative;
  display: inline-block;
  align-items: center;
  justify-content: left;
  justify-self: left;
  font-weight: 700;
  line-height: 2em;
  color: var(--color-black);
  text-transform: uppercase;
  letter-spacing: 0.25em;
}
