@import '../../style/colours';

.section-header {
  position: relative;
  display: inline-block;
  align-items: center;
  justify-content: left;
  color: $black;
  font-size: 1.5rem;
  font-weight: 600;
  justify-self: left;
  letter-spacing: 0.25em;
  line-height: 2em;
  text-transform: uppercase;
}
