@import '../../style/variables';

.page_header {
  display: grid;
  grid-template-areas: 'logo . nav';
  grid-template-columns: max-content auto max-content;
  align-items: center;
  max-width: 100%;
  padding: 0 16px;
  padding-top: 16px;
  margin: 0;
  color: var(--color-black);
  border-bottom: 2px solid var(--color-green);

  &.color_white {
    color: var(--color-white);
    border: unset;
  }

  .page_link {
    display: flex;
    align-items: baseline;
    justify-content: flex-start;
    margin-bottom: 4px;

    font-size: 24px;
    @media screen and (max-width: $breakpoint-medium) {
      font-size: 20px;
    }

    &:focus {
      outline-color: var(--color-green-light);
    }
  
    &:hover {
      border-color: transparent;
    }
  }

  .page_logo {
    height: 20px;
  }

  .page_title {
    grid-area: logo;
    margin: 0 0 0 12px;
    font-family: var(--font-sans);
    font-size: 21pt;
    font-weight: 700;
    color: inherit;
  }

  .page_nav {
    position: relative;
    display: grid;
    grid-area: nav;
    grid-auto-flow: column;
    gap: 4px;
    align-items: center;
    justify-self: right;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.05em;

    @media screen and (max-width: $breakpoint-xsmall) {
      display: none;
    }
  }

  .header_link {
    z-index: 1;
    padding: 0 0.5em;
    font-size: inherit;
    font-size: 16px;
    font-weight: inherit;
    line-height: 32px;


    border: unset;

    &:hover {
      border: unset;
    }


  }

  .social_link {
    font-size: 1.25em;
  }
}

.highlight {
  // --padding: calc(var(--link-height, 0) * 1px / 4);
  
  position: absolute;
  z-index: 0;
  width: calc(var(--link-width, 0) * 1px);
  // height: calc(var(--link-height, 0) * 1px);
  height: 4px;
  padding: 0 var(--padding);
  background-color: var(--color-grey-dark);
  border-radius: calc(var(--link-height, 0) * 1px);
  opacity: 0;
  transition-duration: 0.1s;
  transition-property: transform, width, height, opacity;
  transform: 
    translateX(calc(var(--link-left, 0) * 1px))
    translateY(calc(100% + 16px));
  // translateY(calc(var(--link-top, 0) * 1px));

  @media (prefers-reduced-motion) {
    transition-duration: 16ms;
  }
}

.page_nav:hover .highlight {
  opacity: 0.2;
}
