@import '../../style/colours.scss';
@import '../../style/variables.sass';

.banner {
	z-index: 1;
	color: $white;
	display: grid;
	grid-auto-flow: column;
	align-items: baseline;
	justify-items: center;
	grid-template-columns: 1fr 1fr;
	grid-template-areas: 'logo nav';
	margin: 16px 0;

	@media screen and (max-width: $breakpoint-medium) {
		margin: 16px
	}
	@media screen and (max-width: $breakpoint-small) {
		grid-template-columns: 1fr 1fr;
	}

	a {
		color: $white;
	}

	#banner-logo {
		grid-area: logo;
		justify-self: left;
		display: grid;
		grid-auto-flow: column;
		grid-gap: 16px;
		align-items: center;
		h1 {
			display: inline-block;
			margin: 0;
			color: var(--color-white);
			font-size: 24px;
			font-weight: 400;
			@media screen and (max-width: $breakpoint-medium) {
				font-size: 3vw;
			}
			@media screen and (max-width: $breakpoint-small) {
				display: none;
			}
		}
	}

	#banner-nav {
		justify-self: right;
		display: grid;
		grid-auto-flow: column;
		grid-gap: 16px;
	}

	// #nav-hamburger {
	// 	display: none;
	// 	justify-self: right;
	// 	margin: 0 16px;
	// }

	// #nav-links{
	// 	grid-area: links;
	// 	display: grid;
	// 	grid-auto-flow: column;
	// 	grid-auto-columns: 1fr;
	// 	@media screen and (max-width: $breakpoint-small) {
	// 		justify-self: right;
	// 	}
	// }
	// .nav-link {
	// 	font-size: 16px;
	// 	list-style: none;
	// 	display: inline-block;
	// 	line-height: 32px;
	// 	padding: 0 16px;
	// 	margin: auto;
	// 	color: $white;
	// }

	// #nav-social-menu {
	// 	grid-area: social;
	// 	justify-self: right;
	// 	display: grid;
	// 	grid-auto-flow: column;
	// 	grid-auto-columns: 1fr;
	// 	grid-gap: 16px;
	// 	align-items: center;
	// 	align-content: center;
	// 	@media screen and (max-width: $breakpoint-small) {
	// 		display: none;
	// 	}
	// }
}