@import '../../style/mixins.sass';
@import '../../style/colours.sass';
@import '../../style/variables.sass';

nav {
	z-index: 10;
	color: $white;
	display: grid;
	grid-auto-flow: column;
	align-items: center;
	justify-items: center;
	grid-template-columns: 8fr 1fr 1fr 2fr;

	a {
		color: $white;
	}

	#nav-logo {
		justify-self: left;
	}

	.nav-link {
		list-style: none;
		display: inline-block;
		line-height: 32px;
		padding: 0 16px;
		margin: auto;
		color: $white;
	}

	#nav-social-menu {
		justify-self: right;
		display: grid;
		grid-auto-flow: column;
		grid-auto-columns: 1fr;
		align-items: center;
		align-content: center;

		.social-link {
			line-height: 1em;
			display: inline-block;
			padding: 0 16px;
		}
	}

}