@import './colours.def.scss';

:root {
  --color-green: #{$green};
  --color-green-small: #{$green_small};
  --color-green-lightest: #{$green-lightest};
  --color-green-lightest-trans: #{$green-lightest_trans};
  --color-green-lighter: #{$green-lighter};
  --color-green-light: #{$green-light};
  --color-green-dark: #{$green-dark};
  --color-green-darker: #{$green-darker};
  --color-green-darkest: #{$green-darkest};

  --color-white: #{$white};
  --color-white-trans: #{$white-trans};
  --color-grey-light: #{$grey-light};
  --color-grey-med: #{$grey-medium};
  --color-grey-dark: #{$grey-dark};
  --color-grey-dark-trans: #{$grey-dark_trans};
  --color-grey-darker: #{$grey-darker};
  --color-black: #{$black};
  --color-transparent: #{$transparent};
  
  // ---- Brand Colours ---- //
  --color-newvisions: #{$newvisions};
  --color-newvisions-light: #{$newvisions_light};
  --color-newvisions-lightest: #{$newvisions_lightest};
  --color-noom: #{$noom};
  --color-noom-light: #{$noom_light};
  --color-noom-lightest: #{$noom_lightest};
  --color-knowroaming: #{$knowroaming};
  --color-knowroaming-light: #{$knowroaming_light};
  --color-knowroaming-lightest: #{$knowroaming_lightest};
  --color-smrtwatr: #{$smrtwatr};
  --color-smrtwatr-light: #{$smrtwatr_light};
  --color-smrtwatr-lightest: #{$smrtwatr_lightest};
  --color-chameleon: #{$chameleon};
  --color-chameleon-light: #{$chameleon_light};
  --color-chameleon-lightest: #{$chameleon_lightest};
  --color-zynga: #{$zynga};
  --color-zynga-light: #{$zynga_light};
  --color-zynga-lightest: #{$zynga_lightest};
  --color-tap: #{$tap};
  --color-tap-light: #{$tap_light};
}
