@import './colours.def.scss';

:root {
  // Primitive Colors
  --color-green: #{$green};
  --color-green-small: #{$green_small};
  --color-green-lightest: #{$green-lightest};
  --color-green-lightest-trans: #{$green-lightest_trans};
  --color-green-lighter: #{$green-lighter};
  --color-green-light: #{$green-light};
  --color-green-dark: #{$green-dark};
  --color-green-darker: #{$green-darker};
  --color-green-darkest: #{$green-darkest};

  --color-white: #{$white};
  --color-white-trans: #{$white-trans};
  --color-grey-light: #{$grey-light};
  --color-grey-med: #{$grey-medium};
  --color-grey-dark: #{$grey-dark};
  --color-grey-dark-trans: #{$grey-dark_trans};
  --color-grey-darker: #{$grey-darker};
  --color-black: #{$black};
  --color-transparent: #{$transparent};
  
  // ---- Brand Colours ---- //
  --color-newvisions: #{$newvisions};
  --color-newvisions-light: #{$newvisions_light};
  --color-newvisions-lightest: #{$newvisions_lightest};
  --color-noom: #{$noom};
  --color-noom-light: #{$noom_light};
  --color-noom-lightest: #{$noom_lightest};
  --color-knowroaming: #{$knowroaming};
  --color-knowroaming-light: #{$knowroaming_light};
  --color-knowroaming-lightest: #{$knowroaming_lightest};
  --color-smrtwatr: #{$smrtwatr};
  --color-smrtwatr-light: #{$smrtwatr_light};
  --color-smrtwatr-lightest: #{$smrtwatr_lightest};
  --color-chameleon: #{$chameleon};
  --color-chameleon-light: #{$chameleon_light};
  --color-chameleon-lightest: #{$chameleon_lightest};
  --color-zynga: #{$zynga};
  --color-zynga-light: #{$zynga_light};
  --color-zynga-lightest: #{$zynga_lightest};
  --color-tap: #{$tap};
  --color-tap-light: #{$tap_light};

  // Semantic Tokens

  --color-brand-base: var(--color-green);

  --color-brand-dark: var(--color-green-dark);
  --color-brand-light: var(--color-green-light);

  --color-text-base: var(--color-black);
  --color-text-secondary: var(--color-grey-dark);
  --color-text-inverse: var(--color-white);
  --color-text-brand-bg: var(--color-white);

  --color-text-brand: var(--color-green-small);
  --color-text-selection: var(--color-green-lightest);

  --color-bg-base: var(--color-white);
  --color-bg-brand: #{$green-light-bg};

  @media (prefers-color-scheme: dark) {
    --color-brand-dark: var(--color-green-darker);
    --color-brand-light: var(--color-green);
  
    --color-text-base: var(--color-white);
    --color-text-secondary: var(--color-grey-med);
    --color-text-inverse: var(--color-black);
    --color-text-brand-bg: var(--color-white);
  
    --color-text-brand: var(--color-green-light);
    --color-text-selection: var(--color-green-dark);
  
    --color-bg-base: var(--color-green-darkest);
    --color-bg-brand: var(--color-green-dark);
  }
}