// -------- Colours -------- //
// --- Brighter Greens --- //
$green: #2AC51B;
$white_green: #E9FFE0;
$white_green_trans: rgba(238,255,229,0.75);
$green_highlight: #E1FAD4;
$light_green: #00F548;//00EA49
$dark_green: #2B5C12;
// --- Neutrals --- //
$white: #FEFEFE;
$white_trans: rgba(250,250,250,0.75);
$light_grey: #e6e6e6;
$med_grey: #808080;
$dark_grey: #505050;
$dark_grey_trans: rgba(51,51,51,0.75);
$black: #333333;
$eigengrau: #161616;
$transparent: rgba(250,250,250,0);

// --- Brand Colours --- //
$noom: #4271d7;
$noom_light: #719AFC;

$knowroaming: #4286b5;
$knowroaming_light: #6DAFDB;

// $smrtwatr: #19838E; // teal
$smrtwatr: #785FA3; // purple
// $smrtwatr_light: #68A0A8; // teal
$smrtwatr_light: #A18BCC; // purple

$chameleon: #2e8c5d;
$chameleon_light: #73D3A2;

$zynga: #DD3B30;
$zynga_light: #FF7870;

$newvisions: #0a4ace;//#662D91;
$newvisions_light: mix(white, $newvisions, 30);

$tap: #000000; //#518CB8 
$tap_light: #393939; //#83AECC

:root {
  --color-green : #{$green};
  --color-white-green : #{$white_green};
  --color-white-green_trans : #{$white_green_trans};
  --color-green-highlight : #{$green_highlight};
  --color-light-green : #{$light_green};
  --color-dark-green : #{$dark_green};

  --color-white : #{$white};
  --color-white-trans : #{$white_trans};
  --color-light-grey : #{$light_grey};
  --color-med-grey : #{$med_grey};
  --color-dark-grey : #{$dark_grey};
  --color-dark-grey-trans : #{$dark_grey_trans};
  --color-black : #{$black};
  --color-transparent : #{$transparent};
  
  // ---- Brand Colours ---- //
  --color-newvisions : #{$newvisions};
  --color-newvisions-light : #{$newvisions_light};
  --color-noom : #{$noom};
  --color-noom-light : #{$noom_light};
  --color-knowroaming : #{$knowroaming};
  --color-knowroaming-light : #{$knowroaming_light};
  --color-smrtwatr : #{$smrtwatr};
  --color-smrtwatr-light : #{$smrtwatr_light};
  --color-chameleon : #{$chameleon};
  --color-chameleon-light : #{$chameleon_light};
  --color-zynga : #{$zynga};
  --color-zynga-light : #{$zynga_light};
  --color-tap : #{$tap};
  --color-tap-light : #{$tap_light};
}