// -------- Colours -------- //
// --- Brighter Greens --- //
$green: hsl(123, 100%, 33%); // AA for header
$green-light: hsl(123, 100%, 51%); //00EA49
$green-lighter: hsl(123, 75%, 90%); //00EA49
$green-lightest: hsl(123, 100%, 91%);
$green-lightest_trans: hsla(123, 100%, 91%, 0.75);
$green-light-bg: hsl(123, 100%, 36%);
$green-dark: hsl(123, 87%, 29%); // AA for body
$green-darker: hsl(123, 75%, 25%);
$green-darkest: hsl(123, 50%, 6%);
$green_small: hsl(123, 100%, 30%); // AA for body

// --- Neutrals --- //
$white: #fefefe;
$white-trans: rgba(250, 250, 250, 0.75);
$grey-light: #e6e6e6;
$grey-medium: #808080;
$grey-dark: #505050;
$grey-dark_trans: rgba(51, 51, 51, 0.75);
$grey-darker: #333;
$black: #161616;
$transparent: rgba(250, 250, 250, 0);

// --- Brand Colours --- //
$noom: #4271d7;
$noom_light: #719afc;
$noom_lightest: mix(#fff, $noom, 80);

$knowroaming: #4286b5;
$knowroaming_light: #6dafdb;
$knowroaming_lightest: mix(#fff, $knowroaming, 80);

$smrtwatr: #785fa3; // purple
$smrtwatr_light: #a18bcc; // purple
$smrtwatr_lightest: mix(#fff, $smrtwatr, 80);

$chameleon: #2e8c5d;
$chameleon_light: #73d3a2;
$chameleon_lightest: mix(#fff, $chameleon, 80);

$zynga: #dd3b30;
$zynga_light: #ff7870;
$zynga_lightest: mix(#fff, $zynga, 80);

$newvisions: #0a4ace;//#662D91;
$newvisions_light: mix(#fff, $newvisions, 20);
$newvisions_lightest: mix(#fff, $newvisions, 80);

$tap: #000; //#518CB8 
$tap_light: #393939; //#83AECC

