@import url("https://use.typekit.net/onu2sfw.css");
@import url('https://fonts.googleapis.com/css?family=Muli');
@import url('https://fonts.googleapis.com/css?family=Merriweather');
@import url(https://gist.githubusercontent.com/TheSonOfThomp/052a69f99d1a1852727aad80340a7ecb/raw/3da7ea4949f0d5de34c19adfb5f03e2e8af60f68/trig.sass);
@import './colours';
@import './typography';

@import './variables';
@import './mixins';

*::selection
	background: var(--color-green-highlight) /* WebKit/Blink Browsers */
*::-moz-selection 
	background: var(--color-green-highlight) /* Gecko Browsers */

html
	--vh: 1vh;
	font-size: 16px
	font-feature-settings: 'ss01';
	scroll-behavior: smooth;
	body 
		background: var(--color-white)
		padding: 0
		margin: 0
		font-family: var(--font-sans)
		color: var(--color-black)
		font-weight: 300
		overflow-x: hidden

	main
		display: grid
		grid-auto-flow: row
		justify-content: center
		width: 100vw
		margin: 0
		padding: 0
		background-color: $white

	a
		color: inherit;
		font-weight: inherit
		-webkit-tap-highlight-color: rgba(0,0,0,0)
		text-decoration: none
		cursor: pointer
		font-weight: 400
		border-bottom: 2px solid transparent;
		&:hover
			text-decoration: none;
			border-bottom: 2px solid $green;
		&:focus
			outline: 2px solid $white_green;
			outline-offset: 0.25em;

/* ------ HELPER CLASSES ------ */
// .fix-this 
// 	border: 1px solid red;
// 	background-color: rgba(255, 0, 0, 0.2);

// .mobile-only
// 	display: none

.hide-mobile
	@media screen and (max-width: $breakpoint-small)
		display: none
