@import './colours.def.scss';
@import './colours';
@import './typography';

@import './variables';
@import './mixins';

*::selection {
  background-color: var(--color-green-lighter) /* WebKit/Blink Browsers */
}

:root {
}

html {
  --vh: 1vh;
  --app-angle: 2.5deg;
  @media screen and (max-width: $breakpoint-small) {
    --app-angle: 4deg;
  }

  font-size: 16px;
  font-feature-settings: 'ss01';
  scroll-behavior: smooth;
  

  body {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    font-family: var(--font-sans);
    font-display: swap;
    font-weight: 300;
    color: var(--color-black);
    background: var(--color-white);
  }

  main {
    display: grid;
    grid-auto-flow: row;
    justify-content: center;
    padding: 0;
    margin: 0;
    background-color: $white;
  }

  a {
    font-weight: 400;
    color: inherit;
    text-decoration: none;
    cursor: pointer;
    border-bottom: 2px solid transparent;

    &:hover {
      text-decoration: none;
      border-bottom: 2px solid $green;
    }

    &:focus {
      outline: 2px solid $green-light;
      outline-offset: 0.25em;
    }
  }

  hr {
    width: 150%;
    margin: 64px 0 calc(64px + 24px) 0;
    border-top: 4px solid var(--color-green);
    transform: rotate(var(--app-angle));
  }
}

.hide-mobile {
  @media screen and (max-width: $breakpoint-small) {
    display: none;
  }
}
