@import './colours.scss';
@import './mixins.sass';
$page-margin: 0.375in;

@page {
  margin: $page-margin;
  .resume-container {
    display: none;
  }
}
.resume-container {
  background-color: #eee;
  display: grid;
  grid-auto-flow: row;
  grid-gap: 0.25in;
  justify-items: center;
  
  .resume-page {
    padding: 0;
    margin: 0;
    @media screen {
      padding: $page-margin;
      width: 8.5in - 2 * $page-margin;
      max-height: 11in - 2 * $page-margin;
      @include elevation(2);
    }
    display: grid;
    grid-gap: 8pt;
    background-color: #fff;
    font-size: 12pt;
    font-weight: 300;

    h1, h2, h3, h4, ul {
      margin: 0
    }
    h1 { 
      font-size: 32pt; 
      font-weight: 700;
      line-height: 1.2em;
    }
    h2 { 
      font-size: 10pt;
      text-transform: uppercase;
      font-weight: 700;
      letter-spacing: 2pt;
    }
    h3 { 
      font-size: 1.1rem; 
      color: $green;}
    h4 { 
      font-size: 1.1em;
    }

    .resume-header {
      display: grid;
      grid-auto-flow: column;
      align-items: center;
      grid-template-columns: auto auto 1fr;
      grid-gap: 16pt;
      
      #monogram {
        height: 24pt;
        width: auto;
      }
      #contacts {
        text-align: right;
        display: grid;
        grid-auto-flow: row;
        a {
          color: $green;
          border-bottom: none;
          font-size: 11pt;
        }

      }
    }

    .blurb {
      font-style: italic;
      // text-align: center;
      // padding: 8pt;
      // background-color: $white_green;
      // border-radius: 4pt;
    }

    .resume-body {
      display: grid;
      grid-template-columns: 2fr 1fr;
      grid-gap: 16pt;

      &.full-width {
        grid-template-columns: 1fr;
      }

      .column {
        display: grid;
        grid-auto-flow: row;
        grid-auto-rows: min-content;
        grid-gap: 12pt; // gap between sections

        .column-section {
          display: grid;
          grid-gap: 4pt; // gap between header & first entry
          
          .column-section-contents {
            display: grid;
            grid-gap: 8pt; // gap between entries
          }
        }
      }

      .entry {
        display: grid;
        grid-auto-flow: row;
        grid-gap: 4pt; // gap btwn job title & first bullet

        ul {
          padding-left: 2pt;
          list-style-type: none;
    
          li {
            border-left: 1pt solid $green;
            padding-left: 8pt;
            margin: 8pt auto;
            &:first-child {
              margin-top: 0;
            }
            &:last-child {
              margin-bottom: 0;
            }
          }
        }

        &.job-entry {
          .entry-header {
            display: grid;
            grid-auto-flow: column;
            grid-template-columns: auto auto 1fr;
            grid-gap: 8pt; // spacing btwn title & company
            align-items: baseline;
            span.location{
              justify-self: right;
              font-size: 10pt;
            }
          }
        }
        &.school-entry, 
        &.project-entry {
          // grid-gap: 4pt; // gap btwn title & bullet
          ul li{
            border: none;
            padding-left: 0;
          }
        }
      }
    }
  }
}