@import './colours.scss';
@import './mixins.sass';
$page-margin-side: 0.5in;
$page-margin-top: 0.375in;
$page-height: 11in;

.captcha-container{
  padding: 16px;
  background-color: #eee;
  height: 100vh;
}

@page {
  margin: $page-margin-top $page-margin-side;
  .resume-container {
    display: none;
  }
}
.resume-container {
  background-color: #eee;
  display: grid;
  grid-auto-flow: row;
  grid-gap: 0.25in;
  justify-items: center;
  
  .resume-page {
    padding: 0;
    margin: 0;
    @media screen {
      padding: $page-margin-top $page-margin-side;
      width: 8.5in - 2 * $page-margin-side;
      max-height: $page-height - 2 * $page-margin-top;
      @include elevation(2);
    }

    $centre-col-fr: 7fr;
    display: grid;
    grid-template-columns: 1fr $centre-col-fr 1fr;
    grid-gap: 8pt;
    background-color: #fff;
    font-size: 12pt;
    font-weight: 300;

    h1, h2, h3, h4, ul {
      margin: 0
    }
    h1 { 
      font-size: 2.4em; 
      font-weight: 700;
    }
    h2 { 
      font-size: 0.9em;
      text-transform: uppercase;
      font-weight: 700;
      letter-spacing: 2pt;
    }
    h3 { 
      font-size: 1.1rem; 
      color: $green_small;}
      a {
        font-weight: inherit;
        border-bottom: none;
      }
    h4 { 
      font-size: 1.1em;
    }

    .blurb, .resume-body {
    }

    .resume-header {
      grid-template-columns: 1fr $centre-col-fr 1fr;
      grid-column: span 3;
    }
    
    
    .resume-body {
      .blurb {
        font-style: italic;
        grid-column: span 1;
      }
      // max-width: 76%;
      max-width: 100%;
      grid-column: 2/3;
      margin: auto;
      display: grid;
      grid-template-columns: 1fr;
      grid-gap: 12pt; // gap between columns

      &.full-width {
        grid-template-columns: 1fr;
      }

      .column {
        display: grid;
        grid-auto-flow: row;
        grid-auto-rows: min-content;
        grid-gap: 20pt; // gap between sections

        .column-section {
          display: grid;
          grid-gap: 4pt; // gap between header & first entry
          
          .column-section-contents {
            display: grid;
            grid-gap: 12pt; // gap between entries
          }
          
          &#projects .column-section-contents,
          &#volunteer .column-section-contents {
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 8pt 12pt; // gap between entries
          }

          &#tools .column-section-contents {
            display: block;
            font-size: 12pt;
            line-height: 1.5em;
            .tool {
              &:not(:last-child) {
                margin-right: 0.67em;
                &::after {
                  content: '';
                }
              }
            }
          }
        }
      }

    }
    &#page-2 {
      position: relative;

      .tool {
        img {
        }
      }
      .resume-footer {
        display: none;
        grid-column: 2/3;
        grid-auto-flow: row;
        justify-content: right;
        a {
          text-align: right;
          font-weight: 400;
          color: $green_small;
          font-size: 0.9em;
        }
      }
    }
  }
}