
@import './colours.def.scss';
@import './mixins';
$page-margin-side: 0.5in;
$page-margin-top: 0.375in;
$page-width: 8.5in;
$page-height: 14in;
// $page-height: 11in;

// Spacing variables
$gap-top: 16pt;
$gap-header: 8pt; // space between header & content
$gap-section: 16pt; // space between sections
// $gap-first-entry: 4pt; // space between section header and first entry
$gap-entry-y: 12pt; // vertical space between section entries
$gap-entry-x: 8pt; // horizontal space between section entries

$left-margin: 64pt; // space on the left

%debug {
  outline: 1px solid #f00;
}

.captcha-container {
  height: 100vh;
  padding: 16px;
  background-color: #eee;
}

@media print {
  header,
  footer {
    display: none;
  }

  @page {
    size: $page-width $page-height;
    // margin: $page-margin-top $page-margin-side;
    margin: 0;
  
    .resume-container {
      display: none;
    }
  }
}


h1,
h2,
h3,
h4,
ul {
  margin: 0;
}

a {
  font-weight: inherit;
  border-bottom: unset;
}

.ats-only {
  position: absolute;
  top: 50%;
  z-index: -1;
  color: #fff;
}

.resume-container {
  display: grid;
  grid-auto-flow: row;
  grid-gap: 0.25in;
  justify-items: center;
  background-color: #eee;
  
  .resume-page {
    $centre-col-fr: 1fr;

    position: relative;
    display: grid;
    grid-template-areas: 'header header' 'body body' '. footer';
    grid-template-rows: min-content max-content minmax(0.25in, 1fr);
    grid-template-columns: $left-margin auto;
    gap: $gap-header 0;
    padding: 0;
    margin: 0;
    font-size: 12pt;
    font-weight: 400;
    background-color: #fff;
    break-after: page;

    .resume-body {
      display: grid;
      grid-area: body;
      grid-template-columns: subgrid;
      grid-gap: $gap-section 0; // gap between sections
      max-width: 100%;
      margin: 4pt 0 auto;
    }

    @media screen {
      @include elevation(2);
      width: $page-width - 2 * $page-margin-side;
      height: $page-height - 2 * $page-margin-top;
      padding: $page-margin-top $page-margin-side;
    }
    @media print {
      width: $page-width - 2 * $page-margin-side;
      height: $page-height - 2 * $page-margin-top;
      padding: $page-margin-top $page-margin-side;
    }
  }
}

.summary {
  grid-column: span 1;
  font-style: italic;
  line-height: 1.25em;
}

.resume-section {
  position: relative;
  display: grid;
  grid-template-areas: 'header content';
  grid-template-columns: subgrid;
  grid-column: 1/-1; // span both cols of subgrid
  // grid-gap: $gap-first-entry; // gap between header & first entry

  .resume-section-header {
    $highlight-size: 2pt;

    align-self: flex-start;
    justify-self: flex-end;
    font-size: 10pt;
    font-weight: 700;
    padding-inline: 1pt;
    margin-block-end: 16pt;
    line-height: 20pt;
    text-transform: uppercase;
    letter-spacing: 0.5ch;
    writing-mode: sideways-lr;
    border-block-end: $highlight-size solid var(--color-green);
  }

  .resume-section-contents {
    display: grid;
    grid-template-rows: masonry;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: $gap-entry-y $gap-entry-x; // gap between entries
  }

  &#projects .resume-section-contents,
  &#volunteer .resume-section-contents {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: $gap-entry-y $gap-entry-x; // gap between entries
  }

  &#tools .resume-section-contents {
    display: block;
    font-size: 12pt;
    line-height: 1.5em;
  }
}


.resume-footer {
  display: flex;
  grid-area: footer;
  gap: 1ch;
  align-self: flex-end;
  justify-content: space-between;
  font-size: 12pt;
  
  a {
    display: inline-flex;
    gap: 4pt;
    align-items: center;
    font-weight: 400;
    line-height: 16pt;
    border: unset;

    &:hover {
      border: unset;
    }
  }

  svg {
    height: 16pt;
  }
}

.vertical-footer.resume-footer {
  display: flex;
  grid-area: footer;
  gap: 28pt;
  align-self: flex-end;
  font-size: 12pt;
  writing-mode: sideways-lr;
  margin-inline-end: 36pt;
  margin-block-start: 1.5pt; // nudge to be in center of triangle
  
  a {
    font-weight: 300;
    line-height: 16pt;
    border: unset;

    &:hover {
      border: unset;
    }
  }

  svg {
    height: 16pt;
    rotate: -90deg;
    margin-inline-end: 4pt;
  }
}
