@import url("https://use.typekit.net/onu2sfw.css");
@import url('https://fonts.googleapis.com/css?family=Muli');
@import url('https://fonts.googleapis.com/css?family=Merriweather');

// -------- Fonts -------- //
$serif: 'Garamond', 'cormorant-garamond', 'Merriweather', serif
$sans-serif: 'Europa', 'Muli', 'Gill sans', sans-serif
$body-font: 'Merriweather', serif

=serifFont()
  font-family: $serif

// -------- Measurements -------- //
$global-margin: 24px;
$content-width: 1024px

// -------- Breakpoints -------- //
$breakpoint-large: 1440px;
$breakpoint-medium: 1024px;
$breakpoint-small: 768px;
$breakpoint-xsmall: 640px;


