@import '../../../style/colours';
@import '../../../style/variables';
@import '../../../style/mixins';

section#projects {
  --project-card-min-width: 214px;

  .content {
    display: grid;
    grid-gap: 16px;
    grid-template-columns: repeat(auto-fit, minmax(var(--project-card-min-width), 1fr));
  }
}
