@import '../../style/colours.def.scss';
@import '../../style/darkMode.mixins.scss';
@import '../../style/variables';
@import '../../style/mixins';

.footer {
  display: grid;
  grid-auto-rows: 64px;
  align-items: center;
  width: calc(100vw - 48px);
  margin: 48px auto 0;
  max-width: $content-width;
  font-weight: 400;
  color: var(--color-text-base);

  .footer_content {
    display: flex;
    justify-content: left;
    justify-self: center;
    width: 100vw;
    max-width: $content-width;

    span {
      padding: 16px;
    }
  }
}
