section.portfolio {
	position: relative;
	display: block;
	width: 100%;
	height: auto;
	margin: 2em 0;
	text-align: center;
/*	padding-bottom: calc(75% + 3.5rem);*/
}

.hide {
  display: none;
}

/* ---------- Portfolio Images ---------- */
.gallery {
	position: relative;
	width: 100%;
	margin: 0;
	padding: 0;
	/*margin-top: 3.5rem;*/
/*	border-color: #5B753D;
	border-top: 1px solid;
	border-bottom: 1px solid;*/
}
.gallery ul {
	position: relative;
	display: inline-block;
	width: 100%;
	margin: 0; padding: 0;
	list-style: none;
}
.gallery .folio-item {
	position: relative;
	display: inline-block; display: none; /* For Filtering */
	overflow: hidden;
	float: left;
	width: 50%;
	height: 36.75vw; /* 50% * 98% * 3/4 */
	padding: 0;
	margin: 0; 
}

.gallery .folio-item img {
	position: relative;
	width: 100%;
	height: auto;
	/*background-image: url('../portfolio_images/placeholder-dark.jpg');*/
	cursor: pointer;
}

.gallery a {
	display: inline-block;
	width: 100%;
	height: auto;
}

.gallery .hover-state {
	opacity: 0;
	position: absolute;
	top: 0; bottom: 0;
	left: 0; right: 0;
	height: 100%;
	width: 100%;
	text-align: center;
	background-color: rgba(51,51,51,0.75);
	cursor: pointer;
}
.gallery .hover-state:before {
	content: '';
	display: inline-block;
	height: 100%;
	vertical-align: middle;
	margin-right: -0.25em; /* Adjusts for spacing */
}
.gallery li:hover .hover-state{
	opacity: 1;
	display: block;
}

.folio-hover {
	display: inline-block;
	vertical-align: middle;
	color: #fafafa;
	line-height: 1.8rem;
	font-weight: 500;
}
.folio-title {
	font-size: 1.75rem;
	font-family: "Raleway", "Lato", "Helvetica", sans-serif;
}
.folio-type {
	font-size: 1rem;

	font-weight: lighter;
	font-style: italic;
}
