@import '../../style/colours.def.scss';

.section:global(#resume) {  
  .content {
    text-align: right;
  }

  .resume_card_section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(256px, 1fr));
    grid-gap: 24px 32px;
  }

  a.print_resume {
    display: inline-flex;
    align-items: baseline;
    margin-top: 24px;
    line-height: 1em;
    color: $green_small;

    svg {
      margin-left: 4px;
    }
  }
}
