@import 'style/mixins';
@import 'style/variables';

section#blog {
  text-align: left;

  a.blog-post {
    display: inline-grid;
    align-items: baseline;
    grid-auto-flow: column;
    grid-gap: 8px;

    h2 {
      display: inline-block;
    }
  }
}
