@import 'style/mixins.sass';
@import 'style/variables.sass';
@import 'style/global.sass';

section#blog {
  text-align: left;

  .content {
    a.blog-post {
      display: inline-grid;
      grid-auto-flow: column;
      grid-gap: 8px;
      align-items: baseline;
      h2 {
        display: inline-block;
      }
    }
  }
}