@import '../style/mixins';
@import '../style/variables';

.recipe_cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(256px, 1fr));
  grid-gap: 16px;
  margin: 32px auto;
}

.recipe_card {
  @include clickable-card();
  @include animate-text-underline('.recipe-title');
  display: grid;
  grid-template-areas: 'title' 'tags' 'image';
  grid-template-rows: max-content max-content auto;
  row-gap: 4px;
  padding: 16px;

  &:hover {
    border: unset;
  }

  .recipe_title {
    grid-area: title;
    width: fit-content;
    margin: 0;
    font-size: 1.5em;
  }

  .recipe_tags {
    display: grid;
    grid-area: tags;
    grid-auto-columns: max-content;
    grid-auto-flow: column;
    grid-gap: 0.5ch;
    font-size: 14px;
  }
  
  .recipe_tag {
    opacity: 0.5;

    &:not(:last-child)::after {
      content: ',';
    }
  }

  .recipe_excerpt {
    padding: 0.5em 0 0;
    font-size: 16px;
    font-weight: 200;
  }

  .recipe_image {
    grid-area: image;
    align-self: center;
    justify-self: center;
    max-width: 100%;
  }
}
