@import 'style/global.sass';

section#about {
  text-align: left;

  .content {
    #about-text {
      font-size: 20px;
      position: relative;
      p:first-child {
        margin-top: 0;
      }
      p:last-child {
        margin-bottom: 0;
      }
    }
  }
}