@import '../../../style/colours';
@import '../../../style/mixins';

.resume-entry {
  display: grid;
  grid-template-rows: 18pt auto;
  grid-auto-flow: row;
  grid-gap: 4pt; // gap between job title & first bullet
  
  .entry-header {
    display: grid;
    grid-template-areas: 'company title location';
    grid-template-columns: max-content max-content 1fr;
    grid-auto-flow: column;
    grid-gap: 0.5em; // spacing between title & company
    align-items: baseline;
  }

  .entry-title {
    grid-area: title;
    font-size: 1.1rem;
    color: $green_small;
  }
  
  .entry-company {
    grid-area: company;
    font-size: 1.1rem;
  }

  .entry-location {
    grid-area: location;
    justify-self: right;
    font-size: 0.8em;
  }

  .entry-bullets {
    display: grid;
    grid-gap: 8pt; // gap between bullets
    padding-left: 0;
    list-style-type: none;
    
    .entry-bullet-point {
      position: relative;
      padding-left: 1ch;

      &:first-child {
        margin-top: 0;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  
  &.project-entry,
  &.volunteer-entry {
    grid-gap: 2pt; // gap between job title & first bullet
    
    .entry-bullets {
      // padding: 0;

      .entry-bullet-point {
        padding-left: 0;
        border: unset;
      }
    }
  }

  &.project-entry,
  &.volunteer-entry {
    .entry-header {
      grid-template-areas: 'title title location';
    }
  }
}

