@import '../../../style/colours.def.scss';
@import '../../../style/mixins';

$gap-first-bullet: 2pt;
$gap-first-bullet-compact: 2pt;
$gap-bullet: 6pt;
$gap-bullet-compact: 6pt;

.resume_entry {
  $header-size: 12pt;

  display: block;
  grid-column: 1/-1;
  
  .entry_header {
    display: flex;
    gap: 1ch; // spacing between title & company
    align-items: baseline;
    margin-bottom: $gap-first-bullet;
  }

  .entry_title {
    font-size: $header-size;
    color: var(--color-green-small);
  }
  
  .entry_company {
    font-size: $header-size;
    color: var(--color-black);
  }

  .entry_location {
    font-size: 8pt;
    font-weight: bold;
    color: var(--color-grey-dark);
    text-transform: uppercase;
    letter-spacing: 0.1ch;
  }

  .entry_bullets {  
    display: grid;
    grid-gap: $gap-bullet; // gap between bullets
    padding-left: 0;
    font-weight: 300;
    color: var(--color-black);
    list-style-type: none;
    
    .entry_bullet_point {
      position: relative;

      &:first-child {
        margin-top: 0;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }

    strong {
      font-weight: 600;
      color: var(--color-black);
    }

    p {
      margin: 0;
    }
  }

  &.isCompact {
    $header-size: 12pt;

    display: block;
    grid-column: auto;

    .entry_header {
      display: block;
      margin-bottom: $gap-first-bullet-compact;

      > *:nth-child(2) {
        margin-left: 1ch;
      }
    }

    .entry_title,
    .entry_company {
      display: inline-block;
      justify-self: flex-start;
      font-size: $header-size;
    }

    .entry_location {
      display: block;
      justify-self: flex-start;
      line-height: 1.67em;
    }

    .entry_bullets {
      gap: $gap-bullet-compact;
    }
  }
}
