@import '../../style/variables';
@import '../../style/mixins';

section#projects {
  --project-card-min-width: 256px;

  .content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(var(--project-card-min-width), 1fr));
    grid-gap: 16px 20px;
  }
}
