@import '../../style/variables';
@import '../../style/utilities';

.section {
  display: grid;
  grid-auto-rows: auto auto;
  grid-auto-flow: row;
  grid-row-gap: 24px;
  align-self: center;
  justify-self: center;
  width: calc(100vw - 48px);
  max-width: $content-width;
  margin: 24px auto 64px;
  
  > * {
    margin: auto $global-margin;
  }
}
