@import '../../../style/darkMode.mixins.scss';
@import '../../../style/variables';
@import '../../../style/mixins';

.blog_post {
  @include clickable-card(1, 2);
  display: inline-flex;
  flex-direction: column;
  align-items: baseline;
  padding: 16px;
  background-color: var(--color-bg-base);
  border-radius: 4px;

  @include Mode('dark') {
    outline: 1px solid var(--color-text-secondary);
  }
}

.blog_post_link {
  border-bottom: unset;
  
  &:hover {
    border-bottom: unset;
  }
}

.blog_post_title {
  grid-area: title;
  margin: 8px 0;
}

.blog_post_date {
  order: -1;
  margin: 2px 0;
  font-size: 0.8rem;
  opacity: 0.8;
}

.blog_post_description {
  margin: 2px 0;
  font-size: 1rem;
  font-weight: 400;
}
