section.about
	#bio
		margin: $global-margin auto
	.bio-pic
		min-width: 160px
		max-width: 200px
		img
			width: 100%
			height: auto
			+border-radius(40%)
	.about-text
		margin: auto 48px
		font-family: $sans-serif
		font-weight: 300
		font-size: 18px

	#achievements
		font-weight: 400
