/* ---------------------- BLOG ---------------------- */

section.blog
	a
		text-decoration: none
		cursor: pointer
		font-size: 18px
		font-weight: 400
		line-height: 2em
		&:hover,&:active
			text-decoration: underline

	.date_published	
		color: $dark_grey
		font-family: $sans-serif
		font-size: 16px
		font-weight: 300
		margin: auto 16px
		text-align: right
		float: right