/* ---------------------- BLOG ---------------------- */

section.blog
	ul
		text-align: left
		list-style-type: none
		margin: auto
		padding: 0
		a
			text-decoration: none
			cursor: pointer
			font-size: 24px
			font-weight: 400
			line-height: 2.5em
			&:hover,&:active
				text-decoration: underline

		.date_published	
			color: $dark_grey
			font-family: $sans-serif
			font-size: 16px
			font-weight: 300
			margin: auto 16px
			text-align: right
			float: right