// -------- Fonts -------- //
// $display-font: 'acta-display', 'didot', serif
$sans-serif: 'europa', 'gill sans', sans-serif
$body-font: 'Merriweather', serif


// -------- Colours -------- //
// --- Neutrals --- //
$white: #FEFEFE
$white_trans: rgba(250,250,250,0.5)
$light_grey: #e6e6e6
$med_grey: #808080
$dark_grey: #505050
$dark_grey_trans: rgba(51,51,51,0.75)
$black: #333333
$transparent: rgba(250,250,250,0)

// --- Duller Greens --- //
// $bg_green: #FBFFF5
// $white_green: #EDF2E6
// $white_green_trans: rgba(237,242,230,0.75)
// $green_highlight: #DCE6CF
// $green: #5B753D

// --- Brighter Greens --- //
$white_green: #E9FFE0
$white_green_trans: rgba(238,255,229,0.75)
$green_highlight: #E1FAD4
$light_green: #00F548//00EA49
$green: #2AC51B
$dark_green: #2B5C12

// --- Brand Colours --- //
$noom: #4271d7
$noom_light: #719AFC

$knowroaming: #4286b5
$knowroaming_light: #6DAFDB

$smrtwatr: #785FA3//#756393
$smrtwatr_light: #A18BCC//#AB9FC1

$chameleon: #2e8c5d
$chameleon_light: #73D3A2

$zynga: #DD3B30
$zynga_light: #FF7870

$tap: #000000 //#518CB8 
$tap_light: #393939 //#83AECC

$yours: $light_grey
$yours_light: $white_trans

// -------- Measurements -------- //
$global-margin: 32px
$max-width: 920px

*::selection
	background: $green_highlight /* WebKit/Blink Browsers */
*::-moz-selection 
	background: $green_highlight /* Gecko Browsers */

=verticalGradient($topColor, $bottomColor, $endPct)
	background: $topColor /* Old browsers */
	background: -moz-linear-gradient(top,  $topColor 0%, $bottomColor $endPct) /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left botton, color-stop(0%, $topColor), color-stop($endPct, $bottomColor)) /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  $topColor 0%, $bottomColor $endPct) /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  $topColor 0%, $bottomColor $endPct) /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  $topColor 0%, $bottomColor $endPct) /* IE10+ */
	background: linear-gradient(to bottom,  $topColor 0%, $bottomColor $endPct) /* W3C */

=angledGradient($startCorner, $endCorner, $startColor, $endColor, $endPct)
	background: $endColor /* Old browsers */
	background: -moz-linear-gradient(to $endCorner,  $startColor 0%, $endColor $endPct) /* FF3.6+ */
	background: -webkit-gradient(linear, $startCorner, $endCorner, color-stop(0%, $startColor), color-stop($endPct, $endColor)) /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(to $endCorner,  $startColor 0%, $endColor $endPct) /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(to $endCorner,  $startColor 0%, $endColor $endPct) /* Opera 11.10+ */
	background: -ms-linear-gradient(to $endCorner,  $startColor 0%, $endColor $endPct) /* IE10+ */
	background: linear-gradient(to $endCorner,  $startColor 0%, $endColor $endPct) /* W3C */

=CornerToCornerGradient($startColor, $endColor)
	+angledGradient(top left, bottom right, $startColor, $endColor, 100%)

=radialGradient($from, $to)
	background: -moz-radial-gradient(center, circle cover, $from 0%, $to 100%)
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, $from), color-stop(100%, $to))
	background: -webkit-radial-gradient(center, circle cover, $from 0%, $to 100%)
	background: -o-radial-gradient(center, circle cover, $from 0%, $to 100%)
	background: -ms-radial-gradient(center, circle cover, $from 0%, $to 100%)
	background: radial-gradient(center, circle cover, $from 0%, $to 100%)
	background-color: $to

=border-radius($radius)
	-webkit-border-radius: $radius
	-moz-border-radius:    $radius
	-ms-border-radius:     $radius
	border-radius:         $radius

=animate-elements($what, $when, $how)
	-webkit-transition: $what $when $how
	-moz-transition: 	$what $when $how
	transition: 		$what $when $how

=backdrop-filter($filter)
	backdrop-filter: 		 $filter
	-webkit-backdrop-filter: $filter


=box-shadow($top, $left, $blur, $color, $inset: false)
	@if $inset 
		-webkit-box-shadow:inset $top $left $blur $color
		-moz-box-shadow:inset 	 $top $left $blur $color
		box-shadow:inset 		 $top $left $blur $color
	@else
		-webkit-box-shadow: $top $left $blur $color
		-moz-box-shadow: 	$top $left $blur $color
		box-shadow: 		$top $left $blur $color

=alternateChars()
	-moz-font-feature-settings:		"ss01"
	-ms-font-feature-settings:		"ss01"
	-webkit-font-feature-settings:	"ss01"
	font-feature-settings:			"ss01"

// Global

.wf-loading
	h1, h2, h3, p, ul, .tagline, .fa
		// transform: translateY(-100px)
		opacity: 0

.wf-active
	h1, h2, h3, p, ul, .tagline, .fa
		// transform: translateY(0)
		opacity: 1

h1, h2, h3, p, ul, .tagline, .fa
	+animate-elements(opacity, 0.33s, ease-in-out)
	// +animate-elements(transform, 0.25s, ease-in-out)
html
	font-size: 16px
	+alternateChars()

	body 
		background: $white
		padding: 0
		margin: 0
		font-family: $sans-serif
		color: $black
		font-weight: 300
		overflow-x: hidden

	main
		display: block
		width: 100%
		margin: 0
		padding: 0
		background-color: $white
		// +linearGradient($white, $bg_green, 100%)

	section
		display: inline-block
		// margin: 32px 0
		padding: 0
		width: 100%
		text-align: center

	a
		color: $green
		font-weight: inherit
		-webkit-tap-highlight-color: rgba(0,0,0,0)
		text-decoration: none
		cursor: pointer
		font-weight: 400
		&:hover
			text-decoration: underline
	.fa
		font-size: 0.8em
		padding: 0 0.5em

/* ------ HELPER CLASSES ------ */
.hidden, .hide
	display: none !important
.mobile-only
	display: none
.container
	width: 96%
	max-width: $max-width
	margin: 0 auto
	height: 100%
	position: relative
	display: block
	text-align: center
	
	.content
		width: 100%
		max-width: $max-width
		margin: auto
.shrinkwrap
	will-change: width
	width: intrinsic /* For Safari, see https://developer.mozilla.org/en-US/docs/CSS/width */
	width: -moz-fit-content
	width: -webkit-fit-content
	width: fit-content
	height: 100%
	margin: auto
	@media screen and (min-width: 1160px)
		min-width: 62rem

.vertical-center
	// text-align: center
	&:before
		content: ''
		display: inline-block
		height: 100%
		vertical-align: middle
		margin-right: -0.25em /* Adjusts for spacing */

.horizontal-center
	// text-align: center
	&:before
		content: ''
		display: inline-block
		width: 100%
		horizontal-align: middle
		margin-right: -0.25em /* Adjusts for spacing */

.animate
	+animate-elements(all, 0.15s, ease-in-out)
	-webkit-backface-visibility: hidden

.fixed
	position: fixed

.flex
	display: flex
	justify-content: center

.section-header
	width: 100%
	max-width: $max-width
	margin: $global-margin auto
	color: $black
	font-family: $sans-serif
	text-align: center	
	.header-underline
		width: 50%
		margin: auto
		border-bottom: 1px solid $med_grey
		h1
			display: inline-block
			margin: 48px auto
			font-size: 36px
			font-weight: 600
			line-height: 1em 

	&.subsection
		.header-underline
			h1
				color: $black
				font-family: $sans-serif
				font-weight: 300
				font-size: 2rem
				margin: 32px auto


.card
	+animate-elements(box-shadow, 0.2s, ease-in-out)
	+box-shadow(0, 4px, 8px, $med_grey)
	&:hover, &:focus
		+box-shadow(0, 8px, 8px, $med_grey)
	&:active
		+box-shadow(0, 2px, 8px, $med_grey)

.button
	display: block
	+CornerToCornerGradient($dark_grey, $black)
	font-family: $sans-serif
	font-size: 16px
	font-weight: 400
	color: $white
	text-decoration: none
	padding: 1em 0
	margin: 1em auto
	// border: 2px solid $black
	// +animate-elements(color, 0.15s, ease-in-out)
	+animate-elements(box-shadow, 0.15s, ease-in-out)
	+animate-elements(transform, 0.15s, ease-in-out)
	+border-radius(4px)

	
	&:hover
		color: $white
		// background-color: $green
		+CornerToCornerGradient($light_green, $green)
		+box-shadow( 0, 2px, 8px, $med_grey)
		transform: translateY(-2px)


	&.large
		width: 100%
		max-width: $max-width

	&.green
		color: $green
		font-weight: 600
		border: 2px solid $green
		&:hover
			color: $white
			background-color: $green
