// -------- Fonts -------- //
// $display-font: 'acta-display', 'didot', serif
$sans-serif: 'europa', 'gill sans', sans-serif
$body-font: 'Merriweather', serif


// -------- Colours -------- //
// --- Neutrals --- //
$white: #FEFEFE
$white_trans: rgba(250,250,250,0.8)
$light_grey: #e6e6e6
$med_grey: #808080
$dark_grey: #505050
$dark_grey_trans: rgba(51,51,51,0.75)
$black: #333333
$transparent: rgba(250,250,250,0)

// --- Duller Greens --- //
// $bg_green: #FBFFF5
// $white_green: #EDF2E6
// $white_green_trans: rgba(237,242,230,0.75)
// $light_green: #DCE6CF
// $green: #5B753D

// --- Brighter Greens --- //
$white_green: #E9FFE0
$white_green_trans: rgba(238,255,229,0.75)
$light_green: #E1FAD4
$green: #55A82F
$dark_green: #2B5C12

// --- Brand Colours --- //
$noom: #4271d7
$noom_light: #719AFC

$knowroaming: #4286b5
$knowroaming_light: #6DAFDB

$smrtwatr: #756393
$smrtwatr_light: #AB9FC1

$chameleon: #2e8c5d
$chameleon_light: #73D3A2

$zynga: #DD3B30
$zynga_light: #DD3B30

// -------- Measurements -------- //
$global-margin: 72px
$max-width: 920px

*::selection
	background: $light_green /* WebKit/Blink Browsers */
*::-moz-selection 
	background: $light_green /* Gecko Browsers */

=linearGradient($top, $bottom, $end)
	background: $top /* Old browsers */
	background: -moz-linear-gradient(top,  $top 0%, $bottom $end) /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left botton, color-stop(0%, $top), color-stop($end, $bottom)) /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  $top 0%, $bottom $end) /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  $top 0%, $bottom $end) /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  $top 0%, $bottom $end) /* IE10+ */
	background: linear-gradient(to bottom,  $top 0%, $bottom $end) /* W3C */

=radialGradient($from, $to)
	background: -moz-radial-gradient(center, circle cover, $from 0%, $to 100%)
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, $from), color-stop(100%, $to))
	background: -webkit-radial-gradient(center, circle cover, $from 0%, $to 100%)
	background: -o-radial-gradient(center, circle cover, $from 0%, $to 100%)
	background: -ms-radial-gradient(center, circle cover, $from 0%, $to 100%)
	background: radial-gradient(center, circle cover, $from 0%, $to 100%)
	background-color: $to

=border-radius($radius)
	-webkit-border-radius: $radius
	-moz-border-radius:    $radius
	-ms-border-radius:     $radius
	border-radius:         $radius

=animate-elements($what, $when, $how)
	-webkit-transition: $what $when $how
	-moz-transition: 	$what $when $how
	transition: 		$what $when $how

=backdrop-filter($filter)
	backdrop-filter: 		 $filter
	-webkit-backdrop-filter: $filter


=box-shadow($top, $left, $blur, $color, $inset: false)
	@if $inset 
		-webkit-box-shadow:inset $top $left $blur $color
		-moz-box-shadow:inset 	 $top $left $blur $color
		box-shadow:inset 		 $top $left $blur $color
	@else
		-webkit-box-shadow: $top $left $blur $color
		-moz-box-shadow: 	$top $left $blur $color
		box-shadow: 		$top $left $blur $color

=alternateChars()
	-moz-font-feature-settings:		"ss01"
	-ms-font-feature-settings:		"ss01"
	-webkit-font-feature-settings:	"ss01"
	font-feature-settings:			"ss01"

html
	font-size: 16px
	+alternateChars()

	body 
		background: $white
		padding: 0
		margin: 0
		font-family: $sans-serif
		color: $black
		font-weight: 300
		overflow-x: hidden

	main
		display: block
		width: 100%
		margin: 0
		padding: 0
		background-color: $white
		// +linearGradient($white, $bg_green, 100%)

	section
		display: inline-block
		margin: $global-margin 0
		padding: 0
		width: 100%
		text-align: center

	a
		color: $green
		font-weight: inherit
		-webkit-tap-highlight-color: rgba(0,0,0,0)
		text-decoration: none
		cursor: pointer
		font-weight: 400
		&:hover
			text-decoration: underline
	.fa
		font-size: 0.8em
		padding: 0 0.5em

/* ------ HELPER CLASSES ------ */
.hidden, .hide
	display: none !important
.mobile-only
	display: none
.container
	width: 80%
	max-width: $max-width
	margin: 0 auto
	height: 100%
	position: relative
	display: block
	text-align: center
	
	.content
		width: 100%
		max-width: $max-width
		margin: auto
.shrinkwrap
	will-change: width
	width: intrinsic /* For Safari, see https://developer.mozilla.org/en-US/docs/CSS/width */
	width: -moz-fit-content
	width: -webkit-fit-content
	width: fit-content
	height: 100%
	margin: auto
	@media screen and (min-width: 1160px)
		min-width: 62rem
.vertical-center
	// text-align: center
	&:before
		content: ''
		display: inline-block
		height: 100%
		vertical-align: middle
		margin-right: -0.25em /* Adjusts for spacing */
.horizontal-center
	// text-align: center
	&:before
		content: ''
		display: inline-block
		width: 100%
		horizontal-align: middle
		margin-right: -0.25em /* Adjusts for spacing */

.animate
	+animate-elements(all, 0.15s, ease-in-out)
	-webkit-backface-visibility: hidden

.fixed
	position: fixed

.flex
	display: flex
	justify-content: center

.button
	display: inline-block
	font-family: $sans-serif
	font-size: 16px
	font-weight: 400
	color: $black
	text-decoration: none
	padding: 1em 0
	margin: 1em 0
	border: 2px solid $black
	+animate-elements(color, 0.15s, ease-in-out)
	+animate-elements(background-color, 0.15s, ease-in-out)
	+animate-elements(border-color, 0.15s, ease-in-out)
	+border-radius(1px)

	
	&:hover
		color: $white
		background-color: $black
		// border-color: $black
		// text-decoration: none

	&.large
		width: 100%
		max-width: $max-width

	&.green
		color: $green
		font-weight: 600
		border: 2px solid $green
		&:hover
			color: $white
			background-color: $green
