/* -------------------- HEADER -------------------- */
header.main-header
	width: 100%
	padding: 0
	color: $black
	overflow: hidden
	text-align: center

	&.green-bg
		+CornerToCornerGradient($light_green, $green)
		+box-shadow(0, 4px, 8px, $med_grey)
		.title
			a.name
				color: $white
			.nav-list li a, .fa
				color: $white
		.hero
			color: $white
			.bio-text
				font-weight: 400
			.bg-letter
				opacity: 0.1
				color: #000
				&.split-ux
					opacity: 0.55

	.navbar
		margin: auto
		width: 100%
		z-index: 10
		em
			font-style: normal

		.title
			display: flex
			justify-content: space-between 
			width: 80%
			max-width: $max-width
			margin: $global-margin auto
			.name
				white-space: nowrap
				font-size: 36px
				color: $black
				text-decoration: none
				display: inline-block
				cursor: pointer
				&:hover
					text-decoration: none

			.hamburger-icon
				padding: 2px
				text-align: right
				display: none
				cursor: pointer
				font-size: 24px

			.hamburger-drawer
				display: flex
				flex-direction: row

			.nav-list
				padding: 0
				margin: 0
				display: flex
				justify-content: center
				width: 100%
				font-weight: 600
				font-size: 18px
				li
					list-style: none
					display: inline-block
					line-height: 32px
					padding: 0 16px
					margin: auto
					color: $green
					a:hover
						text-decoration: none
						border-bottom: 2px solid $green

	.hero
		position: relative
		font-family: $sans-serif
		font-weight: 400
		text-align: center
		margin: $global-margin*6 auto $global-margin*9 auto
		pointer-events: none
		display: flex
		flex-direction: column
		justify-content: center

		* 
			max-width: $max-width
			margin: auto
			position: relative
			// line-height: 1em
			z-index: 10

		.hero-name 
			font-size: 112px
			line-height: 1em
			font-weight: 600
		.tagline
			font-weight: 600
			font-size: 96px // if title
			// font-size: 56px // if with name

		.bio-text
			position: relative
			text-align: center
			font-family: $sans-serif
			font-size: 20px
			line-height: 2em
			font-weight: 300

		.bg-letter
			position: absolute
			max-width: none
			width: 100%
			top: 50%
			transform: translateY(-50%)
			left: 0
			right: 0
			margin: auto
			color: $green
			font-weight: 600
			font-size: 512px
			opacity: 0.25
			z-index: 0
			$letter-shift: 20%
			&.split-ux
				opacity: 1
				#u
					position: absolute
					left: 0
					transform: translate(-$letter-shift, -50%)
					z-index: 0
				#x
					position: absolute
					right: 0
					transform: translate($letter-shift, -50%)
					z-index: 0

