/* -------------------- HEADER -------------------- */
header.main-header
	position: relative
	display: inline-block
	width: 100%
	height: auto
	margin: $global-margin*2 0 $global-margin 0
	color: $black

	.header-contents
		margin: $global-margin 0
		text-align: center
		.title
			position: relative
			display: inline-block
			font-family: $sans-serif
			font-weight: 400
			font-size: 96px
			text-align: center
		.tagline
			position: relative
			display: block
			text-align: right
			margin: auto
			font-family: $sans-serif
			font-weight: 300
			font-size: 36px
			line-height: 1em
			padding-top: 8px 

			// @media (min-width: 1280px)
			// 	font-size: 1.6em
			// 	line-height: 1.25em

		.tag
			color: $green
	a
		color: $black
		text-decoration: none
		&:hover
			text-decoration: none

.section-header
	color: $black
	font-family: $sans-serif
	font-size: 2.5rem
	font-weight: 400
	text-align: left
	line-height: 1em
	margin: 32px 0 16px 0// Total height = $global-margin
	max-width: 33%
	padding-bottom: 8px
	border-bottom: 3px solid $black

.subsection-header
	color: $black
	font-family: $sans-serif
	font-weight: 300
	font-size: 2rem
	margin: 32px auto
