/* -------------------- HEADER -------------------- */
header.main-header
	// display: flex
	width: 100%
	padding: 32px 0 $global-margin 0
	color: $black
	// color: $white
	// background-color: $green
	text-align: center

	.header-contents
		// flex: 0
		margin: auto
		// text-align: left
		width: 80%
		max-width: $max-width
		em
			font-style: normal
			// color: $green

		.title
			display: flex
			justify-content: space-between 
			// justify-content: center
			a.name
				white-space: nowrap
				font-size: 36px
				// color: $green
				// color: $white
				color: $black
				text-decoration: none
				display: inline-block
				cursor: pointer
				&:hover
					text-decoration: none
			
			.tagline
				// text-align: left
				// margin: auto
				font-family: $sans-serif
				font-weight: 300
				font-size: 32px
				// line-height: 1em
				display: inline-block
			ul
				padding: 0
				margin: 0
				display: flex	
				justify-content: center
				li
					list-style: none
					display: inline-block
					line-height: 32px
					padding: 0 16px
					margin: auto
					color: $green
					a:hover
						text-decoration: none
						border-bottom: 2px solid $green

		.hero
			position: relative
			font-family: $sans-serif
			font-weight: 400
			text-align: center
			margin: $global-margin*2 auto

			.headline
				position: relative
				font-size: 96px
				font-weight: 600
				z-index: 10

			.bio-text
				position: relative
				text-align: center
				font-family: $sans-serif
				font-size: 20px
				line-height: 2em
				font-weight: 300
				z-index: 10

			.bg-letter
				position: absolute
				top: 50%
				transform: translateY(-50%)
				left: 0
				right: 0
				margin: auto
				// color: $white
				color: $green
				font-weight: 600
				font-size: 512px
				opacity: 0.16
				z-index: 0

	&.green-bg
		background-color: $green
		.title
			a.name
				color: $white
			li a
				color: $white
		.hero
			color: $white
			.bg-letter
				color: $white

.section-header
	color: $black
	font-family: $sans-serif
	font-size: 5rem
	font-weight: 600
	text-align: left
	line-height: 1em
	margin: $global-margin/2 0 
	// text-align: center
	// border-bottom: 3px solid $black

.subsection-header
	color: $black
	font-family: $sans-serif
	font-weight: 300
	font-size: 2rem
	margin: 32px auto
