/* ---------------------------------------------------- */
/* ---------------------------------------------------- */
/* ---------------------- MOBILE ---------------------- */
/* ---------------------------------------------------- */
/* ---------------------------------------------------- */

@media screen and (max-width: 768px) 
	$global-margin: 36px
	html main 
		width: 100%
		margin: 0
	.hide-mobile 
		display: none !important
	.mobile-only 
		display: inline

	/* ------------ HEADER - MOBILE ------------ */
	.main-header
		height: auto
		padding-top: 0
		.header-contents
			margin: $global-margin auto
			.title
				font-size: 60px
				width: 80%
				margin: auto
			.tagline 
				display: none
	.section-header
		max-width: 100%

	/* ------------ BIO - MOBILE ------------ */
	.bio 
		height: auto
		margin-top: 0
		margin-bottom: 0
		.container
			text-align: center
		.bio-pic 
			display: inline-block
			position: relative
			float: none
			clear: left
			width: 50%
			max-width: 192px
			height: auto
			margin: 36px auto
			text-align: center
			transform: rotateZ(0deg)
			-moz-transform: rotateZ(0deg)
			-webkit-transform: rotateZ(0deg) 
		.bio-text 
			float: none
			clear: left
			min-width: 100%
			max-width: 100%
			text-align: center
			line-height: 1.2em
			padding: 0
			margin: $global-margin auto	
			p 
				margin-bottom: 1rem
				width: 100%
				line-height: 1.5em	

	/* ------------ PORTFOLIO - MOBILE ------------ */
	section.portfolio 
		margin: 0
		max-height: none
		.gallery
			.folio-item 
				width: 100%
				height: auto
				.hover-state 
					opacity: 1
					background-color: $white_trans
					-webkit-backdrop-filter: blur(0px)
				&:active .hover-state
					background-color: $white
					border: 1px solid $med_grey
			.folio-hover 
				max-width: 80%
				padding: 1.25rem
				background: rgba(251,251,251,0.6)
				+border-radius(8px)


	/* ------------ ABOUT - MOBILE ------------ */

	section.about
		.container
			text-align: center
			#bio
				display: inline-block
				margin: $global-margin auto
				text-align: center
				.bio-pic
					margin: auto
				.about-text
					margin: 24px 0
					text-align: left
	/* ------------ SOCIAL - MOBILE ------------ */

	.social-list
		width: 100%
		margin: 0
		display: flex
		justify-content: center 
		.social-media
			width: 33%
			padding: 0
			a
				font-weight: 400
				.social-logo
					width: 25%

	/* ------------ RESUME - MOBILE ------------ */
	section.resume 
		.container
			article
				margin-top: 32px
				.content-header
					display: inline-block
					margin: auto
					text-align: center
					.logo-container 
						width: 80%
						max-width: 80%
					.logo 
						width: 50%
						padding-bottom: 50%
						margin: 0 auto
				.resume-content 
					margin-top: 2rem
					max-width: 100%
					min-width: 100%
					border-left: 0
					border-top: 1px solid #5B753D
					padding-left: 0
					.resume-header 
						margin-top: 3rem
					.subsection-header 
						display: block
						width: 100%
						padding-top: 1rem
						text-align: center
						.subsection-title 
							display: block
							width: 100%
							font-size: 1.5rem
							.show
								display: none
						.subsection-duration 
							margin: 0
							display: block
							float: none
							text-align: center
					.resume-list 
						display: none
						padding-left: 40px

		.experience	
			.job
				display: block
		.skills 
			display: none
		.education
			.subsection-header
				display: none
			.school
				display: block
			.resume-header
				display: none

	/* ------------ FOOTER - MOBILE ------------ */
	footer
		display: block
		.social-list
			.social-media 
				width: 33%
				margin: 0.8rem 0
				a 
					width: 40%
					// margin: 0 30/%

	/* ------------ Portfolio Page - MOBILE ------------ */

	.portfolio-page
		.tldr
			display: inline-block
			.one-third
				width: 50%
				display: inline-block
				margin: 16px auto
				.inline
					margin: 16px auto
					.tldr-content
						display: inline-block
		.gallery-content
			&.knowroaming h1
				font-size: 48px
			h1
				font-size: 64px

			.portfolio-title
				width: 90%
			.col
				width: 90%
			figure
				.table
					display: none
		.folio-nav
			position: absolute
			bottom: -$global-margin*2
			width: 50%
			max-width: 50%
			background-color: $white
			// -webkit-backdrop-filter: saturate(1.8) blur(20px)
			&:hover, &:active
				background-color: $white_green
