/* ---------------------- PORTFOLIO PAGE ---------------------- */

.portfolio-page
	header.main-header
		display: none
		background: $white_trans
		-webkit-backdrop-filter: saturate(1.8) blur(20px)
		height: auto
		z-index: 5
		position: fixed
		margin: 0
		
		&.header-up
			top: -92px /* 48px + 32px + 1px */

		.header-contents
			margin: 0
		.title
			text-align: center
			padding: 16px 0
			font-size: 48px
			border-bottom: 1px solid $dark_grey
			opacity: 1
		&:before
			content: ''
		.tagline
			display: none
			top: 2.5em

	.gallery-content
		position: relative
		display: inline-block
		width: 100%
		// margin: 92px auto 0 auto
		margin: auto

		.portfolio-title
			width: 100%
			margin: 0 auto
			margin-bottom: 0.75em
			padding-top: 0
			text-align: center
			font-family: $sans-serif
			padding-top: 81px

		h1
			font-size: 56px
			font-family: $serif
			font-weight: 300
			text-align: center
			margin: $global-margin auto
		h2
			font-size: 64px
			font-family: $sans-serif
			font-style: normal
			font-weight: bold
			color: $green
			// margin-bottom: 0 
		h3
			font-size: 32px
			font-weight: 300
			// margin-top: 0
		h4
			font-size: 28px
			font-weight: 300	
		h5
			font-size: 24px
			color: $med_grey
			font-weight: normal
		h6
			font-size: 20px
			color: $med_grey
			font-weight: normal
			font-style: italic
			margin: 0
		p
			font-family: 'Merriweather'
			// font-weight: 400
			color: $dark_grey
			// font-size: 16px
			line-height: 2em

		.cover-photo
			width: 100%

		.col
			position: relative
			font-size: 16px
		.single-column
			width: 100%
			max-width: 720px
			margin: 0 auto

		.folio_paragraph
			width: 100%
			line-height: 1.75em
		.folio_image
			display: inherit
			position: relative
			width: 100%
			height: auto
			margin: 0
			padding: 12px 0
			text-align: center
			img
				position: relative
				display: inline-block
				max-width: 90%
				max-height: 440px
				height: auto
				margin: 0

			iframe
				width: 80%
				height: 440px

			figcaption
				text-align: center
				font-size: 1rem
				color: $med_grey
				max-width: 80%
				margin: 0 10%

			&.images-2
				img, iframe
					max-width: 46%
					padding: 1%

		blockquote
			border-left: 1px solid $green
			padding-left: 1em
			color: $med_grey

		table
			font-size: 12px
			line-height: 1.2em
			border: none
			width: 100%
			*
				margin: 0

		.footnotes
			font-size: 12px

		sup a::before
			content: '['
		sup a::after
			content: ']'

/* ------ Navigation ------ */
.folio-nav 
	position: fixed
	display: block
	top: 0%
	font-family: $sans-serif
	font-weight: 400
	font-size: 1rem
	cursor: pointer
	
	a 
		display: inline-block
		min-width: 64px
		padding: 4px
		text-decoration: none
		color: $dark_grey
		&:hover
			text-decoration: none
			color: $green
	a:before
		position: relative
		display: block
		color: $black
		text-decoration: none
	&.prev
		a:before
			content: 'Prev:'
		left: 0
		text-align: left
		padding-left: 8px
		padding-right: 8px
		border-left: 8px solid $med_grey
	&.next
		a:before
			content: 'Next:'
		right: 0
		text-align: right
		padding-right: 8px
		padding-left: 8px
		border-right: 8px solid $med_grey

	&:hover
		background: $light_green
		border-color: $green

/* ------ Table of Contents ------ */
@media screen and (max-width: 1175px)
	#toc
		display: none

	/* TODO: Implement drop-down TOC*/

/*TODO Implement current location highlight */
#toc
	position: fixed
	top: 112px
	z-index: 1
	width: 20%
	max-width: 360px

#toc a
	display: block
	cursor: pointer
	font-size: 14px
	text-decoration: none
	font-weight: 500
	margin: 0 2vw

// #toc .toc-h1

#toc .toc-h2
	padding-left: 16px
	font-family: "Lato", "Helvetica", sans-serif

#toc .toc-h
	padding-left: 32px
	font-family: "Lato", "Helvetica", sans-serif
	opacity: 0.8