/* ---------------------- PORTFOLIO PAGE ---------------------- */

.wf-loading
	h1, h2, h3, a, .tldr, .folio-nav
		visibility: hidden


.portfolio-page
	position: relative
	$folio-max-width: 720px

	// ---------- Custom Colours---------- //
	.home
		h2,p a, &.folio-nav a:hover
			color: $green
	.noom 
		&.small-header .header-title
			border-bottom: 2px solid $noom
		h2, p a, figure a, .tldr-title, 
		&.folio-nav a:hover
			color: $noom
		&.folio-nav:hover, &.folio-nav:active
			background: #CFD5E6
			border-color: $noom
		figure#hero
			+radialGradient($noom_light, $noom)


	.knowroaming, [class^="kr_"], [class*=" kr_"] 
		&.small-header .header-title
			border-bottom: 2px solid $knowroaming
		h2, p a, figure a, .tldr-title, 
		&.folio-nav a:hover
			color: $knowroaming
		&.folio-nav:hover, &.folio-nav:active
			background: #CFDCE6
			border-color: $knowroaming
		figure#hero
			+radialGradient($knowroaming_light, $knowroaming)

	.smrtwatr 
		&.small-header .header-title
			border-bottom: 2px solid $smrtwatr
		h2, p a, figure a, .tldr-title, 
		&.folio-nav a:hover
			color: $smrtwatr
		&.folio-nav:hover, &.folio-nav:active
			background: #D7CFE6
			border-color: $smrtwatr
		figure#hero
			+radialGradient($smrtwatr_light, $smrtwatr)

	.chameleon 
		&.small-header .header-title
			border-bottom: 2px solid $chameleon
		h2, p a, figure a, .tldr-title, 
		&.folio-nav a:hover
			color: $chameleon
		&.folio-nav:hover, &.folio-nav:active
			background: #CFE6DA
			border-color: $chameleon
		figure#hero
			+radialGradient($chameleon_light, $chameleon)

	.zynga
		&.small-header .header-title
			border-bottom: 2px solid $zynga
		h2, p a, figure a, .tldr-title, 
		&.folio-nav a:hover
			color: $zynga
		&.folio-nav:hover, &.folio-nav:active
			background: #E6D0CF
			border-color: $zynga
		figure#hero
			+radialGradient($zynga_light, $zynga)

	.tap
		&.small-header .header-title
			border-bottom: 2px solid $tap
		h2, p a, figure a, .tldr-title, 
		&.folio-nav a:hover
			color: $tap
		&.folio-nav:hover, &.folio-nav:active
			background: #CEE4F5
			border-color: $tap
		figure#hero
			+radialGradient($tap_light, $tap)
	// ---------- /Custom Colours---------- //

	header
		position: relative
		display: flex
		justify-content: center
		vertical-align: middle
		top: 0
		z-index: 10
		width: 100%
		margin-top: $global-margin/2
		text-align: center

		&.small-header

			a
				position: relative
				display: inline-block
				margin: auto
				font-family: $sans-serif
				color: $black
				&:hover
					text-decoration: none
				&.header-title
					font-size: 36px
					text-align: left
					width: 100%
					max-width: $folio-max-width
				&.back
					font-size: 24px
					position: absolute
					top: 50%
					left: 0
					transform: translate(0, -50%)

	.gallery-content
		position: relative
		display: inline-block
		width: 100%

		.portfolio-title
			width: 100%
			margin: 0 auto
			margin-bottom: 0.75em
			padding-top: 0
			text-align: center
			font-family: $sans-serif
			padding-top: 81px

		h1
			font-size: 72px
			font-family: $sans-serif
			font-weight: 600
			text-align: left
			margin: 24px auto 0 auto
		h2
			font-size: 56px
			font-family: $sans-serif
			font-style: normal
			font-weight: bold
			margin: 0 auto 24px auto
		h3
			font-size: 32px
			font-family: $sans-serif
			font-weight: 400
			line-height: 1.6em
			color: $dark_grey
			margin: 16px auto
		h4
			font-size: 20px
			font-family: $sans-serif
			font-weight: 300
			line-height: 1.6em
			color: $dark_grey
			margin: 16px auto
		p
			font-family: $body-font
			font-size: 16px
			color: $black
			line-height: 2em
			a
				font-weight: 400

		ol
			font-family: $body-font
			color: $dark_grey
			line-height: 1.8em
			width: 66%
			margin: auto
		.tldr
			h2
				font-size: 36px
			h4
				font-weight: 300

		.cover-photo
			width: 100%

		.col
			position: relative
			font-size: 16px

		.single-column
			margin: 0 auto
			h1, h2, h3, h4, h5, h6, p, ol, table, hr
				width: 100%
				max-width: $folio-max-width
				margin-left: auto
				margin-right: auto

		.folio_paragraph
			width: 100%
			line-height: 1.75em

		.folio_image
			display: inherit
			position: relative
			width: 100%
			max-width: $folio-max-width
			height: auto
			margin: 12px auto
			padding: 12px 0
			text-align: center

			img
				position: relative
				display: inline-block
				max-width: 768px
				max-height: 440px
				height: auto
				margin: 8px auto	

			iframe
				width: 100%
				height: 560px

			figcaption
				text-align: center
				font-size: 1rem
				font-family: $sans-serif
				color: $med_grey
				font-weight: 500
				line-height: 1.5em
				max-width: 50%
				margin: 0 auto

			&.multi-image
				max-width: $folio-max-width * 1.5
				img, iframe
					max-width: 40%
					padding: 12px 24px
					margin: auto

			&#hero
				max-width: none
				margin: $global-margin auto
				img
					max-height: none
				figcaption, figcaption a
					color: $white

		blockquote
			border-left: 1px solid $green
			padding-left: 1em
			color: $med_grey

		table
			font-family: $body-font
			color: $dark_grey
			font-size: 12px
			line-height: 1.2em
			border: none
			width: 100%
			*
				margin: 0
		hr
			margin: $global-margin auto

		.footnotes
			font-size: 12px
			text-align: center
			ol
				text-align: left
				width: 100%
				max-width: $folio-max-width

		sup a::before
			// content: '['
		sup a::after
			// content: ']'

// --------- Full Portfolio Page -------- //
body.portfolio
	header.portfolio
		margin: $global-margin 0
		padding: 0
		text-align: center
		// +animate-elements(padding, 0.2s, ease-in-out)
		.title
			font-size: 64px
			display: inline-block
			margin: auto
			padding: 0
			// +animate-elements(font-size, 0.5s, ease-in-out)
			a
				color: $black
		.tagline
			text-align: right
			font-size: 32px
			color: $green
		&.sticky
			position: fixed
			width: 100%
			top: 0
			text-align: left
			margin: 0
			background-color: $white
			z-index: 10
			&.shadow
				+box-shadow(2px, 2px, 4px, $dark_grey, $inset: false)

			.title
				font-size: 48px
				margin-left: 32px
				padding: 12px 0
			.tagline
				display: inline-block
	section.portfolio
		// +animate-elements(margin, 0.15s, ease-in-out)
		&.sticky
			margin-top: 270px


/* ------ Navigation ------ */
nav
	.folio-nav 
		position: fixed
		display: block
		bottom: 0
		font-family: $sans-serif
		font-size: 16px
		cursor: pointer
		background-color: $white_trans
		+backdrop-filter(blur(4px))
		z-index: 10
		
		a 
			display: inline-block
			min-width: 96px
			padding: 12px
			text-decoration: none
			font-weight: 600
			color: $dark_grey
			&:hover
				text-decoration: none
				color: $green
		a:before
			position: relative
			display: block
			color: $dark_grey
			font-weight: 400
			text-decoration: none
		&.prev
			a:before
				content: 'Prev:'
			left: 0
			text-align: left
			border-left: 8px solid $med_grey
			+border-radius(0 4px 0 0)
			a
				padding-left: 12px
		&.next
			a:before
				content: 'Next:'
			right: 0
			text-align: right
			border-right: 8px solid $med_grey
			+border-radius(4px 0 0 0)
			a
				padding-right: 12px

		&:hover, &:active
			background: $light_green
			border-color: $green
