/* ---------------------- PORTFOLIO PAGE ---------------------- */

.wf-loading
	h1, h2, h3, a, .tldr, .folio-nav
		visibility: hidden


.portfolio-page

	// Custom Colours //
	.home
		h2,p a, &.folio-nav a:hover
			color: $green
	.noom 
		&.small-header
			background-color: $noom
		h2, p a, .tldr-title, 
		&.folio-nav a:hover
			color: $noom
		&.folio-nav:hover, &.folio-nav:active
			background: #CFD5E6
			border-color: $noom
	.knowroaming, [class^="kr_"], [class*=" kr_"] 
		&.small-header
			background-color: $knowroaming
		h2, p a, .tldr-title, 
		&.folio-nav a:hover
			color: $knowroaming
		&.folio-nav:hover, &.folio-nav:active
			background: #CFDCE6
			border-color: $knowroaming
	.smrtwatr 
		&.small-header
			background-color: $smrtwatr
		h2, p a, .tldr-title, 
		&.folio-nav a:hover
			color: $smrtwatr
		&.folio-nav:hover, &.folio-nav:active
			background: #D7CFE6
			border-color: $smrtwatr
	.chameleon 
		&.small-header
			background-color: $chameleon
		h2, p a, .tldr-title, 
		&.folio-nav a:hover
			color: $chameleon
		&.folio-nav:hover, &.folio-nav:active
			background: #CFE6DA
			border-color: $chameleon
	.zynga
		&.small-header
			background-color: $zynga
		h2, p a, .tldr-title, 
		&.folio-nav a:hover
			color: $zynga
		&.folio-nav:hover, &.folio-nav:active
			background: #E6D0CF
			border-color: $zynga

	header
		position: relative
		display: flex
		justify-content: center
		vertical-align: middle
		top: 0
		z-index: 10
		width: 100%
		height: $global-margin
		text-align: center
		background-color: $dark_grey

		&.small-header
			color: $white
			a
				position: relative
				display: inline-block
				margin: auto
				font-family: $sans-serif
				font-size: 24px
				color: $white
				&.back
					position: absolute
					top: 50%
					left: 0
					transform: translate(0, -50%)

	.gallery-content
		position: relative
		display: inline-block
		width: 100%
		// margin: 92px auto 0 auto
		margin: auto auto $global-margin auto
		// border-top: $global-margin solid $dark_grey

		.portfolio-title
			width: 100%
			margin: 0 auto
			margin-bottom: 0.75em
			padding-top: 0
			text-align: center
			font-family: $sans-serif
			padding-top: 81px

		h1
			font-size: 96px
			font-family: $sans-serif
			font-weight: 600
			text-align: left
			margin: 16px auto
		h2
			font-size: 56px
			font-family: $sans-serif
			font-style: normal
			font-weight: bold
			margin: 24px 0
		h3
			font-size: 24px
			font-weight: 400
			font-family: $sans-serif
			color: $dark_grey
		h4
			font-size: 20px
			font-weight: 400
			font-family: $sans-serif
			color: $dark_grey
		p
			font-family: $body-font
			font-size: 16px
			color: $black
			line-height: 2em
			a
				font-weight: 400

		ol
			font-family: $body-font
			color: $dark_grey
			line-height: 1.8em
			width: 66%
			margin: auto


		.cover-photo
			width: 100%

		.col
			position: relative
			font-size: 16px

		.single-column
			// width: 100%
			// max-width: 720px
			margin: 0 auto
			h1, h2, h3, h4, h5, h6, p, ol, table, hr
				width: 100%
				max-width: 720px
				margin-left: auto
				margin-right: auto

		.folio_paragraph
			width: 100%
			line-height: 1.75em

		.folio_image
			display: inherit
			position: relative
			width: 100%
			max-width: 920px
			height: auto
			margin: 0 auto
			padding: 12px 0
			text-align: center

			img
				position: relative
				display: inline-block
				max-width: 100%
				max-height: 440px
				height: auto
				margin: 8px

			&#hero
				img
					max-height: none

			iframe
				width: 80%
				height: 560px

			figcaption
				text-align: center
				font-size: 1rem
				font-family: $sans-serif
				color: $med_grey
				line-height: 1.5em
				max-width: 50%
				margin: 0 auto

			&.images-2
				img, iframe
					max-width: 40%
					padding: 1%
					margin: auto

		blockquote
			border-left: 1px solid $green
			padding-left: 1em
			color: $med_grey

		table
			font-family: $body-font
			color: $dark_grey
			font-size: 12px
			line-height: 1.2em
			border: none
			width: 100%
			*
				margin: 0
		hr
			margin: $global-margin auto

		.footnotes
			font-size: 12px
			ol
				width: 100%

		sup a::before
			// content: '['
		sup a::after
			// content: ']'

/* ------ Navigation ------ */
.folio-nav 
	position: fixed
	display: block
	bottom: 50%
	font-family: $sans-serif
	font-weight: 400
	font-size: 1rem
	cursor: pointer
	background-color: $white_trans
	z-index: 10
	
	a 
		display: inline-block
		min-width: 64px
		padding: 4px
		text-decoration: none
		color: $dark_grey
		&:hover
			text-decoration: none
			color: $green
	a:before
		position: relative
		display: block
		color: $black
		text-decoration: none
	&.prev
		a:before
			content: 'Prev:'
		left: 0
		text-align: left
		padding-left: 8px
		padding-right: 8px
		border-left: 8px solid $med_grey
	&.next
		a:before
			content: 'Next:'
		right: 0
		text-align: right
		padding-right: 8px
		padding-left: 8px
		border-right: 8px solid $med_grey

	&:hover, &:active
		background: $light_green
		border-color: $green

// --------- Full Portfolio Page -------- //
body.portfolio
	header.portfolio
		margin: $global-margin 0
		padding: 0
		text-align: center
		// +animate-elements(padding, 0.2s, ease-in-out)
		.title
			font-size: 64px
			display: inline-block
			margin: auto
			padding: 0
			// +animate-elements(font-size, 0.5s, ease-in-out)
			a
				color: $black
		.tagline
			text-align: right
			font-size: 32px
			color: $green
		&.sticky
			position: fixed
			width: 100%
			top: 0
			text-align: left
			margin: 0
			background-color: $white
			z-index: 10
			// -webkit-backdrop-filter: blur(4px)	
			.title
				font-size: 48px
				margin-left: 32px
				padding: 12px 0
			.tagline
				display: inline-block
	section.portfolio
		// +animate-elements(margin, 0.15s, ease-in-out)
		&.sticky
			margin-top: 270px


