/* ---------------------- RESUME ---------------------- */

section.resume

	.button
		margin: 0 auto

	.resume-header
		padding-left: 1rem
		width: 30%
		font-weight: 400
		border-bottom: 1px solid $dark_grey
		.resume-title
			font-family: $sans-serif
			font-size: 2rem
			line-height: 2em

	.container
		article
			width: 100%
			margin: auto
			cursor: pointer

			$logo-size: 160px
			.logo-container
				width: $logo-size
				height: 100%
				display: inline-block
				.logo
					width: 80%
					height: 0
					padding-bottom: 80%
					margin-right: 10%
					// +border-radius(100%)
					// background-color: #eee
					background-size: 100%
					background-position: 50%
					background-repeat: no-repeat
					a
						text-decoration: none
						color: $dark_grey

			.content-header
				display: flex
				width: 100%
				margin: auto
				// justify-content: center
				.header-text
					margin: auto 0
				.item-title
					font-family: $sans-serif
					font-size: 2rem
					font-weight: 400
					display: inline-block // block allows duration to go below
					margin: auto
					padding-right: 12px
					span#minor
						font-size: 1.2rem
						// font-weight: 300
				.item-duration, .item-location
					font-family: $sans-serif
					font-size: 16px
					font-weight: 300
					margin: auto
				.item-location:after 
					content: ' - '


				.show
					display: block
					color: $green
					background: none
					border: none
					font-family: $sans-serif
					font-size: 12px
					text-decoration: none
					cursor: pointer
					padding: 0
					&.more:after
						content: ' more'
					&.less:after
						content: ' less'

				.inline-note
					display: inline
					font-size: 1.25rem
					font-style: italic
				&:hover,
				&:focus
					.show
						text-decoration: underline

			.resume-content
				width: 100%
				margin: auto 0
				display: inline-block
				@media screen and (max-width: $logo-size/0.8/0.2) 
					&
						padding: 0

				h4
					font-family: $sans-serif
					font-size: 1.75rem
					line-height: 1em
					font-weight: 300
					color: $med_grey

				.resume-list
					display: none
					// padding-left: 160px
					line-height: 1.5em
					list-style-type: disc
					font-family: $sans-serif
					font-weight: 400

					.resume-item
						margin-bottom: 1em
						.list-description
							font-family: $sans-serif
							font-size: 14px
							margin-right: 16px

	.experience
		position: relative
		display: inline-block
		.job
			// display: flex
			position: relative
			overflow: hidden
			margin-top: 32px
			
		.zynga .logo
			background-image: url("../image_assets/zynga_logo.png")

		.noom .logo
			background-image: url("../image_assets/noom_logo.png")

		.knowroaming .logo
			background-image: url("../image_assets/knowroaming_logo.png")
			background-position: 50% 46%

		.sony .logo
			background-image: url("../image_assets/sony_logo.png")	

		.genesys .logo
			background-image: url("../image_assets/genesys_logo.png")
				
	.skills
		position: relative
		display: inline-block
		margin-top: 2rem
		.skills-sub-header
			padding-left: 1rem
			padding-top: 1.5rem
			font-family: $sans-serif
			font-size: 1.5rem
			line-height: 2em	
		.program-list
			display: block
			position: relative
			padding: 0
			margin: 0
			list-style: none
			font-family: $sans-serif
			li
				position: relative
				width: 10%
				margin: 1rem 0
				float: left
		
				.app-name
					position: relative
					margin: 0
					padding-top: 0.5em
					font-size: 1rem
					line-height: 1rem
					min-height: 2rem
					text-align: center
			
				.app-logo
					position: relative
					padding-bottom: 56%
					background-size: 56%
					background-position: 50%
					background-repeat: no-repeat
					+border-radius(0)
				&:hover
					// padding-top: 0.5rem
					// padding-bottom: 1.5rem
					.app-name
						font-weight: 500
					.app-logo
						// padding-bottom: 67%
						// background-size: 60%
						// background-position: 50%
			@media screen and (max-width: 920px)
				li
					width: 25%
				.app-name
					display: none 
			
			#sketch .app-logo
				background-image: url('../image_assets/apps/sketch.png')
			#photoshop .app-logo
				background-image: url('../image_assets/apps/photoshop.png')
			#ai .app-logo
				background-image: url('../image_assets/apps/ai.png')
			#indesign .app-logo
				background-image: url('../image_assets/apps/indd.png')
			#balsamiq .app-logo
				background-image: url('../image_assets/apps/balsamiq.png')
			#framer .app-logo
				background-image: url('../image_assets/apps/framer.png')
			#origami .app-logo
				background-image: url('../image_assets/apps/origami.png')
			#html5 .app-logo
				background-image: url('../image_assets/apps/html5.png')
			#css3 .app-logo
				background-image: url('../image_assets/apps/css3.png')
			#jquery .app-logo
				background-image: url('../image_assets/apps/jquery.png')
			#javascript .app-logo
				background-image: url('../image_assets/apps/js.png')
			#coffeescript .app-logo
				background-image: url('../image_assets/apps/coffeescript.png')
			#arduino .app-logo
				background-image: url('../image_assets/apps/arduino.png')
			#xcode .app-logo
				background-image: url('../image_assets/apps/xcode.png')
			#php .app-logo
				background-image: url('../image_assets/apps/php.png')
			#cpp .app-logo
				background-image: url('../image_assets/apps/cpp.png')
			#java .app-logo
				background-image: url('../image_assets/apps/java.png')
			#swift .app-logo
				background-image: url('../image_assets/apps/swift.png')
			#python .app-logo
				background-image: url('../image_assets/apps/python.png')
			#matlab .app-logo
				background-image: url('../image_assets/apps/matlab.png')
			#git .app-logo
				background-image: url('../image_assets/apps/git.png')
			#bootstrap .app-logo
				background-image: url('../image_assets/apps/bootstrap.png')
			#sass .app-logo
				background-image: url('../image_assets/apps/sass.png')
			#excel .app-logo
				background-image: url('../image_assets/apps/excel.png')
			#sql .app-logo
				background-image: url('../image_assets/apps/sql.png')	
			#autocad .app-logo
				background-image: url('../image_assets/apps/autocad.png')
			#inventor .app-logo
				background-image: url('../image_assets/apps/inventor.png')
			#rhino .app-logo
				background-image: url('../image_assets/apps/rhino.png')
			#max .app-logo
				background-image: url('../image_assets/apps/max.png')
			#c4d .app-logo
				background-image: url('../image_assets/apps/c4d.png')
			#ae .app-logo
				background-image: url('../image_assets/apps/ae.png')
			#premiere .app-logo
				background-image: url('../image_assets/apps/premiere.png')
			#final_cut .app-logo
				background-image: url('../image_assets/apps/final_cut.png')
			#espresso .app-logo
				background-image: url('../image_assets/apps/espresso.png')
			#sublime .app-logo
				background-image: url('../image_assets/apps/sublime.png')
			#coda .app-logo
				background-image: url('../image_assets/apps/coda.png')

	.education
		position: relative
		display: inline-block
		.school
			// display: flex
			// margin-top: 2rem
		#uwaterloo .logo
			background-image: url('../image_assets/uwaterloo.gif')

		#fhci .logo
			background-image: url('../image_assets/fhci.png')