/* ---------------------- Social Bar ---------------------- */
.social-container
	display: flex
	justify-content: center
	width: 100%
	max-width: $max-width
	.button
		width: 33%
		margin-right: 0
	.social-list
		display: flex
		position: relative
		padding: 0
		margin: 0
		list-style: none
		width: 100%
		max-width: $max-width
		margin: auto auto

		.animate.social-media
			&:hover
				padding-top: 0.5rem
				padding-bottom: 1.5rem

		li.social-media
			display: inline-block
			position: relative
			width: 12%
			margin: auto
			margin-left: 0

			a
				display: block
				width: 100%
				height: 100%
				margin: 0 auto
				color: $black
				padding: 1em 0
				+border-radius(4px)
				+animate-elements(background-color, 0.1s, ease-in-out)

				.social-name
					// padding-top: 0.1em
					// text-align: center
					// display: inline-block
					// width: 100%
					display: none

				i.fa
					font-size: 48px
					padding: 0
					margin: auto
					+animate-elements(color, 0.1s, ease-in-out)
					
				&:hover
					background-color: $light_grey
					i.fa
						color: #111



				// .social-logo
				// 	$logo-size: 40%
				// 	width: $logo-size
				// 	// padding-bottom: $logo-size
				// 	margin: 0 auto
				// 	background-size: contain
				// 	background-position: 50%
				// 	background-repeat: no-repeat

	&.light
		.social-media
			padding: 0 0
			// #twitter
			// 	background-image: url('../image_assets/social/twitter_light.png')
			// #linkedin
			// 	background-image: url('../image_assets/social/linkedin_light.png')
			// #git
			// 	background-image: url('../image_assets/social/git_light.png')
			// #email
			// 	background-image: url('../image_assets/social/email_light.png')
			// #instagram
			// 	background-image: url('../image_assets/social/instagram_light.png')

	&.dark
		.social-media
			// #twitter
			// 	background-image: url('../image_assets/social/twitter_dark.png')
			// #linkedin
			// 	background-image: url('../image_assets/social/linkedin_dark.png')
			// #git
			// 	background-image: url('../image_assets/social/git_dark.png')
			// #email
			// 	background-image: url('../image_assets/social/email_dark.png')
			// #instagram
			// 	background-image: url('../image_assets/social/instagram_dark.png')
			// #soundcloud
			// 	background-image: url('../image_assets/social/soundcloud_dark.png')

footer
	.social-list
		width: 50%
		margin: 0 25%
		padding: 0.2rem 0
		height: 3rem
		.social-media
			a
				display: block
				width: 25%
				height: 100%
				margin: 0 auto
				color: $white
				background-size: contain
				background-position: 50%
				background-repeat: no-repeat
