/* ---------------------- Social Bar ---------------------- */
.social-list
	display: block
	position: relative
	padding: 0
	margin: 0
	list-style: none
	width: 72%
	margin: auto auto

	.animate.social-media
		&:hover
			padding-top: 0.5rem
			padding-bottom: 1.5rem

	li.social-media
		display: inline-block
		position: relative
		width: 25%
		height: 3rem
		padding: 1.5rem 0
		float: left

		a
			display: block
			width: 100%
			height: 100%
			margin: 0 auto
			color: $black

			.social-name
				padding-top: 0.2em
				text-align: center
				display: inline-block
				width: 100%
				// opacity: 0
				+animate-elements(font-weight, 0.1s, ease-in-out)

			&:hover
				.social-name
					// opacity: 1
					font-weight: 600
					// text-decoration: underline

			.social-logo
				$logo-size: 20%
				width: $logo-size
				// padding-bottom: $logo-size
				margin: 0 auto
				background-size: contain
				background-position: 50%
				background-repeat: no-repeat

		:last-child
			padding-right: 0
		:first-child
			border-left: none

	&.light
		.social-media
			padding: 0 0
			// #twitter
			// 	background-image: url('../image_assets/social/twitter_light.png')
			// #linkedin
			// 	background-image: url('../image_assets/social/linkedin_light.png')
			// #git
			// 	background-image: url('../image_assets/social/git_light.png')
			// #email
			// 	background-image: url('../image_assets/social/email_light.png')
			// #instagram
			// 	background-image: url('../image_assets/social/instagram_light.png')

	&.dark
		.social-media
			// #twitter
			// 	background-image: url('../image_assets/social/twitter_dark.png')
			// #linkedin
			// 	background-image: url('../image_assets/social/linkedin_dark.png')
			// #git
			// 	background-image: url('../image_assets/social/git_dark.png')
			// #email
			// 	background-image: url('../image_assets/social/email_dark.png')
			// #instagram
			// 	background-image: url('../image_assets/social/instagram_dark.png')
			// #soundcloud
			// 	background-image: url('../image_assets/social/soundcloud_dark.png')

footer
	.social-list
		width: 50%
		margin: 0 25%
		padding: 0.2rem 0
		height: 3rem
		.social-media
			a
				display: block
				width: 25%
				height: 100%
				margin: 0 auto
				color: $white
				background-size: contain
				background-position: 50%
				background-repeat: no-repeat
