@import '../../style/variables';
@import '../../style/mixins';

.footer {
  display: grid;
  grid-auto-rows: 64px;
  align-items: center;
  width: 100%;
  margin-top: 48px;
  font-weight: 400;
  color: var(--color-white);
  background-color: var(--color-green);

  .footer_content {
    display: flex;
    justify-content: left;
    justify-self: center;
    width: 100vw;
    max-width: $content-width;

    span {
      padding: 16px;
    }
  }
}
