@import 'style/global.sass';

.portfolio-card {
  display: grid;
  grid-template-columns: 2fr 1fr;
  color: $white;
  padding: 32px;
  align-items: center;
  text-align: left;

  h2, p {
    margin: 0;
  }

  h2 {
    font-size: 28px;
  }

  p {
  }

  img { 
    position: relative;
    width: 100%;
    height: auto;
    cursor: pointer;
  }
}