.tool {
  position: relative;
  display: inline-flex;
  align-items: center;
  height: 1em;
  font: inherit;

  img {
    bottom: -0.125em;
    width: auto;
    height: 1em;
  }

  span {
    padding-left: 0.25em;
    font-size: 1em;
  }
}
