@import '../../style/colours.def';
@import '../../style/variables';
@import '../../style/mixins';

$full-width-margin: calc((#{$folio-max-width} - 100vw) / 2);

@mixin brandedPortfolio($brand) {
  $brandColor: var(--color-#{$brand});
  $brandColorLight: var(--color-#{$brand}-light);
  $brandColorLightest: var(--color-#{$brand}-lightest);

  *::selection {
    background: $brandColorLightest;
  }
  
  header.portfolio-page-header {
    border-color: $brandColor;
  }
  
  .portfolio-content {
    h2 {
      color: $brandColor;
    }

    .cover-image {
      background-color: $brandColorLight;
    }
  }
}

%max-width-centered {
  max-width: $folio-max-width;
  margin-right: auto;
  margin-left: auto;

  // @media screen and (max-width: $folio-max-width + 20px) {
  //   margin-right: 20px;
  //   margin-left: 20px;
  // }
}

main.portfolio {
  display: grid;
  grid-template-rows: 64px;
  grid-auto-columns: 100vw;
  align-items: flex-end;
  justify-content: left;
  justify-items: left;
  font-family: var(--font-sans);

  &#newvisions { @include brandedPortfolio('newvisions');}
  &#noom { @include brandedPortfolio('noom');}
  &#knowroaming { @include brandedPortfolio('knowroaming');}
  &#chameleon { @include brandedPortfolio('chameleon');}
  &#zynga { @include brandedPortfolio('zynga');}
  &#smrtwatr { @include brandedPortfolio('smrtwatr');}

  // Quick links buttons
  .quick-links-container {
    display: grid;
    grid-auto-flow: column;
    width: 100%;
    margin: 0;
  }

  .portfolio-content-container {
    width: 100%;
  }

  .portfolio-content {
    position: relative;
    display: block;
    margin: 0;
    
    // TODO - turn this into placeholder selector
    // and @extend it in all appropriate rules
    * {
      max-width: $folio-max-width;
      margin-right: auto;
      margin-left: auto;
    }
  }
  
  h1 {
    @extend %max-width-centered;
    margin: 1em auto 0.1em;
    font-size: 42px;
    font-weight: 600;
    color: $black;
    text-align: left;

    // @media screen and (max-width: $breakpoint-small) {
    //   font-size: 6vw;
    // }

    // Page Title
    &:first-child {
      margin: 0.25em auto 4px;
      font-size: 64px;
    }
  }

  h2 {
    @extend %max-width-centered;
    margin: 0.25em auto 0.1em;
    font-size: 32px;
    font-style: normal;
    font-weight: bold;
    color: $black;
    
    // @media screen and (max-width: $breakpoint-small) {
    //   font-size: 6vw;
    // }
  }

  h3 {
    @extend %max-width-centered;
    margin: 16px auto;
    font-size: 24px;
    font-weight: 400;
    line-height: 1.6em;
    color: $grey-dark;
  }

  h4 {
    @extend %max-width-centered;
    margin: 16px auto;
    font-size: 20px;
    font-weight: 300;
    line-height: 1.6em;
    color: $grey-dark;
  }

  blockquote {
    @extend %max-width-centered;
    
    p {
      font-size: 24px;
      font-style: italic;
      color: $dark_grey;
      padding-inline-end: 1em;
      padding-inline-start: 1em;
    }
  }

  p {
    @extend %max-width-centered;
    margin: 1em auto;
    font-size: 20px;
    font-weight: 300;
    line-height: 1.6em;
    color: $black;

    a {
      font-weight: 400;
    }

    sup {
      font-size: 0.67em;
      font-weight: 300;
    }
  }

  // .mermaid {

  // }

  // Images & Video
  figure {
    @extend %max-width-centered;
    position: relative;
    display: inherit;
    width: 100%;
    max-width: $folio-max-width;
    height: auto;
    padding: 12px 0;
    margin: 12px auto;
    text-align: center;

    img {
      position: relative;
      display: inline-block;
      margin: 8px auto;
    }

    iframe {
      width: 100%;
      height: 560px;
    }

    figcaption {
      max-width: 50%;
      margin: 0.5em auto;
      font-family: var(--font-sans);
      font-size: 1rem;
      font-weight: 500;
      line-height: 1.5em;
      color: $med_grey;
      text-align: center;
    }

  }
  // Top TL;DR section
  .tldr {
    display: block;
    width: 100%;
    max-width: none;

    * {
      margin-right: auto;
      margin-left: auto;
      margin-block: auto;
    }
    
    h2 {
      font-size: 36px;
      color: var(--portfolio-color);
    }

    .cover-image {
      width: 100%;
      max-width: none;
      padding: 16px 0;
      margin: 48px auto 8px;
      background-color: var(--color-black);

      /* stylelint-disable-next-line selector-max-compound-selectors */
      figcaption {
        display: none;
      }
    }
  }
}


.gatsby-resp-image-link:hover {
  border: unset;
}

.gatsby-resp-image-image {
  box-shadow: none !important;
}

// GATSBY IMAGE HACKS
div.gatsby-image { 
  p { 
    display: none; 
  } 
}

div.cover-image,
div.vertical {
  margin: auto;

  span.gatsby-resp-image-background-image {
    padding: 0 !important;
  }


  figure.gatsby-resp-image-figure {
    img.gatsby-resp-image-image {
      position: relative !important;
      width: auto !important;
      max-width: 80vw;
      height: auto !important;
      max-height: 512px !important;
    }
  }
}

div.multiple {
  display: grid;
  grid-auto-flow: column;
  justify-content: space-evenly;
  width: 100vw;

  figure.gatsby-resp-image-figure {
    display: flex;
    flex-direction: column;
  }
}
