@import '../../style/global.sass';

@mixin brandedPortfolio($brand){

  *::selection, *::-moz-selection {
    background: var(--color-#{$brand}-light);
  }
  
  header.porfolio-page-header {
    border-color: var(--color-#{$brand})
  }
  
  .portfolio-content .tldr {
    h2 {
      color: var(--color-#{$brand});
    }
    .cover-image {
      @include radialGradient(var(--color-#{$brand}-light), var(--color-#{$brand}));
    }
  }
}

@mixin brandedQuicklink($brand) {
  border-color: var(--color-#{$brand});
  span {
    color: var(--color-#{$brand})
  }
}


$folio-max-width: 720px;
$full-width-margin: calc((#{$folio-max-width} - 100vw)/2);


main.portfolio {
  &#newvisions { @include brandedPortfolio('newvisions');}
  &#noom { @include brandedPortfolio('noom');}
  &#knowroaming { @include brandedPortfolio('knowroaming');}
  &#chameleon { @include brandedPortfolio('chameleon');}
  &#zynga { @include brandedPortfolio('zynga');}
  &#smrtwatr { @include brandedPortfolio('smrtwatr');}

  display: grid;
  grid-template-rows: 96px auto;
  width: 100%;
  align-items: flex-end;
  justify-items: center;
  justify-content: center;
  font-family: $sans-serif;

  a.quick-link{
    position: fixed;
    bottom: 16px;
    padding: 4px 8px;
    min-width: 96px;
    background: var(--color-white-trans);
    border-color: var(--color-green);
    transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 300ms;

    &.newvisions { @include brandedQuicklink('newvisions');}
    &.noom { @include brandedQuicklink('noom');}
    &.knowroaming { @include brandedQuicklink('knowroaming');}
    &.chameleon { @include brandedQuicklink('chameleon');}
    &.smrtwatr { @include brandedQuicklink('smrtwatr');}

    &:hover{
      border-bottom: none;
    }
    div {
      color: $eigengrau;
      font-weight: 600
    }
    span {
      color: var(--color-green);
    }
    
    &#prev-link {
      left: 0;
      padding-left: 8px;
      border-left-style: solid;
      border-left-width: 4px; 
      text-align: left;
      border-radius: 0px 2px 2px 0px;
    }
    &#next-link {
      right: 0;
      padding-right: 8px;
      border-right-style: solid;
      border-right-width: 4px; 
      text-align: right;
      border-radius: 2px 0px 0px 2px;
    }
  }

  .portfolio-content {
    position: relative;
    display: inline-block;
    width: 100%;
    max-width: $folio-max-width;
    
    // Top TL;DR section
    .tldr {
      h2 {
        font-size: 36px
      }
      h4 {
        font-weight: 300
      }

      .cover-image {
        max-width: none;
        width: 100vw;
        padding: 16px 0;
        margin: 48px 0;
        margin-left: $full-width-margin;
        background-color: var(--color-black);

        figcaption {
          display: none;
        }
      }
    }


    h1 {
      font-size: 72px;
      font-weight: 600;
      text-align: left;
      margin: 24px auto 0 auto;
      color: $eigengrau;
    }
    h2 {
      font-size: 56px;
      font-style: normal;
      font-weight: bold;
      margin: 0 auto 24px auto;
      color: $eigengrau;
    }
    h3 {
      font-size: 32px;
      font-weight: 400;
      line-height: 1.6em;
      color: $dark_grey;
      margin: 16px auto;
    }
    h4 {
      font-size: 20px;
      font-weight: 300;
      line-height: 1.6em;
      color: $dark_grey;
      margin: 16px auto;
    }
    p {
      font-size: 20px;
      font-weight: 300;
      color: $black;
      line-height: 1.6em;
      a {
        font-weight: 400;
      }
    }

    // Images & Video
    figure {
      display: inherit;
      position: relative;
      width: 100%;
      max-width: $folio-max-width;
      height: auto;
      margin: 12px auto;
      padding: 12px 0;
      text-align: center;

      img {
        position: relative;
        display: inline-block;
        margin: 8px auto;
      }

      iframe {
        width: 100%;
        height: 560px;
      }

      figcaption {
        text-align: center;
        font-size: 1rem;
        font-family: $sans-serif;
        color: $med_grey;
        font-weight: 500;
        line-height: 1.5em;
        max-width: 50%;
        margin: 0 auto;
      }

    }
  }
}

.gatsby-resp-image-link:hover {
  border: none;
}
.gatsby-resp-image-image {
  box-shadow: none !important;
}

// GATSBY IMAGE HACKS
div.gatsby-image { p { display: none; } }

div.vertical {
  figure.gatsby-resp-image-figure {
    span.gatsby-resp-image-background-image {
      padding: 0 !important;
    }
    img.gatsby-resp-image-image {
      position: relative !important;
      width: auto !important;
      max-height: 512px !important;
    }
  }
}

div.multiple {
  display: grid;
  grid-auto-flow: column;
  justify-content: space-evenly;
  width: 100vw;
  margin-left: $full-width-margin;
  figure.gatsby-resp-image-figure {
    display: flex;
    flex-direction: column;
  }
}