@import '../../style/variables';

.section:global(#portfolio) {  
  .portfolio_cards_container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 24px;
    
    
    @media screen and (max-width: $breakpoint-xsmall) {
      grid-template-columns: repeat(1, 1fr);
      grid-gap: 16px;
    }
    
    :global(.double_wide) {
      grid-column: 1 / 3;
      @media screen and (max-width: $breakpoint-xsmall) {
        grid-column: 1 / 2;
      }
    }
  }
}
