@import '../../style/variables';

.section:global(#portfolio) {  
  .portfolio_cards_container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 24px;
    
    
    @media screen and (max-width: $breakpoint-xsmall) {
      grid-template-columns: repeat(1, 1fr);
      grid-gap: 16px;
    }
  }
}
