@import '../../../style/colours';
@import '../../../style/variables';
@import '../../../style/mixins.sass';

footer {
  align-items: center;
  background-color: var(--color-green);
  color: var(--color-white);
  display: grid;
  font-weight: 300;
  grid-auto-rows: 64px;
  margin-top: 48px;
  width: 100%;

  .footer-content {
    display: flex;
    justify-content: left;
    justify-self: center;
    max-width: $content-width;
    width: 100vw;

    span {
      padding: 16px;
    }
  }
}
