@import '../../../style/colours';
@import '../../../style/variables';
@import '../../../style/mixins.scss';

footer {
  display: grid;
  width: 100%;
  align-items: center;
  margin-top: 48px;
  background-color: var(--color-green);
  color: var(--color-white);
  font-weight: 300;
  grid-auto-rows: 64px;

  .footer-content {
    display: flex;
    width: 100vw;
    max-width: $content-width;
    justify-content: left;
    justify-self: center;

    span {
      padding: 16px;
    }
  }
}
