@import '../../style/colours.def.scss';
@import '../../style/variables';
@import '../../style/mixins';

$full-width-margin: calc((#{$folio-max-width} - 100vw) / 2);

%max-width-centered {
  max-width: $folio-max-width;
  margin-right: auto;
  margin-left: auto;

  @media (max-width:$breakpoint-small) {
    margin-right: responsiveSize(16, 24);
    margin-left: responsiveSize(16, 24);
  }
}

.portfolio {
  display: grid;
  grid-template-rows: 64px;
  grid-auto-columns: 100vw;
  align-items: flex-end;
  justify-content: left;
  justify-items: left;
  font-family: var(--font-sans);
  font-size: 20px;


  *::selection {
    background: var(--brand-color-lightest);
  }

  // Quick links buttons
  .quick_links_container {
    display: grid;
    grid-auto-flow: column;
    width: 100%;
    margin: 0;
  }

  .portfolio_content_container {
    width: 100%;
  }

  .portfolio_content {
    position: relative;
    display: block;
    margin: 0;
  }

  header {
    @extend %max-width-centered;
    border-color: var(--brand-color);
  }
  
  h1 {
    @extend %max-width-centered;
    margin-top: 1em;
    margin-bottom: 0.1em;
    font-size: responsiveSize(32, 40);
    font-weight: 600;
    color: $black;
    text-align: left;

    // Page Title
    &:first-child {
      margin-top: 0.25em;
      margin-bottom: 4px;
      font-size: 64px;
    }
  }

  h2 {
    @extend %max-width-centered;
    margin-top: 0.5em;
    margin-bottom: 0.1em;
    font-size: responsiveSize(28, 32);
    font-style: normal;
    font-weight: bold;
    color: $black;
  }

  h3 {
    @extend %max-width-centered;
    margin-top: 16px;
    margin-bottom: 16px;
    font-size: 24px;
    font-weight: 400;
    line-height: 1.6em;
    color: $grey-dark;
  }

  h4 {
    @extend %max-width-centered;
    margin-top: 16px;
    margin-bottom: 16px;
    font-size: 20px;
    font-weight: 300;
    line-height: 1.6em;
    color: $grey-dark;
  }

  p {
    @extend %max-width-centered;
    margin-top: 1em;
    margin-bottom: 1em;
    font-weight: 300;
    line-height: 1.6em;
    color: $black;

    a {
      font-weight: 400;
    }

    sup {
      font-size: 0.67em;
      font-weight: 300;
    }
  }

  blockquote {
    @extend %max-width-centered;
    
    p {
      font-size: 24px;
      font-style: italic;
      color: $grey-dark;
      padding-inline-end: 1em;
      padding-inline-start: 1em;
    }
  }
  
  ul {
    @extend %max-width-centered;
    line-height: 1.6em;
  }

  img {
    display: flex;
    justify-self: center;
    max-width: 100%;
    max-height: 50vh;
    margin: auto;
  }

  // Images & Video
  figure {
    @extend %max-width-centered;
    position: relative;
    display: inherit;
    width: 100%;
    max-width: $folio-max-width;
    height: auto;
    padding: 12px 0;
    margin: 12px auto;
    text-align: center;

    img {
      position: relative;
      display: inline-block;
      margin: 8px auto;
    }

    iframe {
      width: 100%;
      height: 560px;
    }

    figcaption {
      @extend %max-width-centered;
      max-width: 50%;
      margin-top: 0.5em;
      margin-bottom: 0.5em;
      font-family: var(--font-sans);
      font-size: 1rem;
      font-weight: 500;
      line-height: 1.5em;
      color: $grey-medium;
      text-align: center;
    }
  }

  .footnotes {
    @extend %max-width-centered;

  }
  
  // Top TL;DR section
  :global(.tldr) {
    display: block;
    width: 100%;
    max-width: none;
    margin: auto;
    
    h2 {
      font-size: 36px;
      color: var(--brand-color);
    }

    :global(.cover-image),
    :global(.cover_image) {
      display: flex;
      width: 100%;
      max-width: none;
      padding: 16px 0;
      margin: 48px auto 8px;
      background-color: var(--brand-color);
    }

    figure {
      max-width: unset;
    }

    figcaption {
      display: none;
    }
  }
}

// .gatsby-resp-image-link:hover {
//   border: unset;
// }

// .gatsby-resp-image-image {
//   box-shadow: none !important;
// }

// // GATSBY IMAGE HACKS
// div.gatsby-image { 
//   p { 
//     display: none; 
//   } 
// }

// div.cover-image,
// div.vertical {
//   margin: auto;

//   span.gatsby-resp-image-background-image {
//     padding: 0 !important;
//   }


//   figure.gatsby-resp-image-figure {
//     img.gatsby-resp-image-image {
//       position: relative !important;
//       width: auto !important;
//       max-width: 80vw;
//       height: auto !important;
//       max-height: 512px !important;
//     }
//   }
// }

// div.multiple {
//   display: grid;
//   grid-auto-flow: column;
//   justify-content: space-evenly;
//   width: 100vw;

//   figure.gatsby-resp-image-figure {
//     display: flex;
//     flex-direction: column;
//   }
// }
