/* your css code */
@import '../../style/variables';

.default_page {
  --recipe-color-highlight: var(--color-green-lightest);
  display: block;
  align-items: center;
  max-width: $content-width;
  margin: auto;
  font-size: 18px;

  > * {
    @media screen and (max-width: $breakpoint-medium) {
      margin-right: 16px;
      margin-left: 16px;
    }
  }

  article {
    position: relative;
  }
  
  h1 {
    font-size: 2em;
  }

  img {
    max-width: 100%;
  }

  &.recipes {
    .gatsby-resp-image-image {
      position: initial !important;
    }

    .gatsby-resp-image-figcaption {
      display: none !important;
    }

    .gatsby-resp-image-figure {
      margin-inline-start: 0 !important;
    }

    .gatsby-resp-image-wrapper {
      max-width: 640px !important;
      margin: initial !important;
    }
  }
}

